.grid-parent {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(25, 1fr);
  width: 100%;

  @include breakpoint(large down) {
    .grid-parent {
      margin: 0 auto;
    }
  }

  @include breakpoint(small down) {
    .grid-parent {
      margin: 0;
    }
  }

  .grid-item {
    grid-column: 1 /26;

    &.center-vertical {
      align-self: center;
    }
  }
}
