// ------------------------------------
// Helpers
// ------------------------------------
*:focus {
  outline: none;
}

::selection {
  color: $black;
  background: $accent;
  mix-blend-mode: multiply;
}
