// ------------------------------------
// Helpers
// ------------------------------------
*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

::selection {
  color: $white;
  background: $accent;
}

body.hasHover {
  * {
    &:hover {
      color: initial !important;
    }
  }
}
