// THEMES //
body {
  transition: background-color 200ms ease-out, color 200ms ease-out;
  will-change: background-color, color;

  &.page-home {
    background-color: var(--white);
    color: var(--black);

    svg {
      &.logo,
      &.symbol {
        path {
          fill: var(--black);
        }
      }
    }
  }

  &.page-news {
    background-color: var(--white);
    * {
      color: var(--black);
    }
  }

  &.page-xyz {
    background-color: var(--black);

    * {
      color: var(--red);
    }

    * h1.outlined {
      span {
        color: transparent;
        -webkit-text-stroke-width: 1px !important;
        -webkit-text-stroke-color: var(--red) !important;
      }
      &:hover {
        * {
          color: var(--red);
        }
      }
    }

    svg {
      &.logo,
      &.symbol {
        path {
          fill: var(--red) !important;
        }
      }
    }

    a,
    p a {
      color: var(--red);
      border-color: var(--red);
      display: inline-block;
      &:hover {
        color: var(--red);
        border-color: transparent;
      }
    }

    & > & {
      &:hover {
        color: inherit;
      }
    }
  }

  &.dark {
    color: var(--white);
    background-color: var(--black);

    svg {
      &.logo,
      &.symbol {
        path {
          fill: var(--white) !important;
        }
      }
    }

    a,
    p a {
      color: var(--white);
      border-color: var(--white);
      display: inline-block;
      &:hover {
        color: var(--white);
        border-color: transparent;
      }
    }

    & > & {
      &:hover {
        color: inherit;
      }
    }
  }

  &.light {
    color: var(--black);
    background-color: var(--sand);

    svg {
      &.logo,
      &.symbol {
        path {
          fill: var(--black) !important;
        }
      }
    }

    a,
    p a {
      color: var(--black);
      border-color: var(--black);
      display: inline-block;
      &:hover {
        color: var(--black);
        border-color: transparent;
      }
    }

    & > & {
      &:hover {
        color: inherit;
      }
    }
  }
}
