// THEMES //
body {
  &.home {
    background-color: $white;
    color: $black;

    svg {
      &.logo,
      &.symbol {
        path {
          fill: $black !important;
        }
      }
    }
  }

  &.overview {
    background-color: $sand;

    .logo {
      svg {
        path {
          fill: $black;
        }
      }
    }

    * {
      color: $black;

      &:hover {
        color: $accent !important;
      }
    }
  }

  &.about,
  &.dark {
    color: $grey;
    background-color: $black;

    svg {
      &.logo,
      &.symbol {
        path {
          fill: $grey !important;
        }
      }
    }

    a,
    p a {
      color: $grey;
      border-color: $grey;
      display: inline-block;
      &:hover {
        color: $grey;
        border-color: transparent;
      }
    }

    & > & {
      &:hover {
        color: inherit;
      }
    }
  }
}

.dark {
  background-color: $black;
  * {
    color: $grey;

    img {
      svg {
        fill: $accent !important;
      }
    }

    a {
      border-color: $grey;

      &:hover {
        color: $grey;
      }
    }
  }
}

.sand {
  background-color: $sand;
  * {
    color: $black;
  }
}
