// About page
body.about {
  background-color: #e7afaf;

  * {
    color: rgba(#860909, 1);
  }

  a {
    color: rgba(#860909, 1) !important;

    &:hover {
      color: rgba(#fff, 1) !important;
    }
  }

  nav {
    height: auto;
    color: rgba(#581919, 1);
  }
}
