// About page
body.about {
  main {
    section {
      h3 {
        &:last-of-type:not(:first-of-type) {
          margin-bottom: 0;
        }
      }
      &.intro {
        margin-top: $md;
        margin-bottom: $md;
        figure {
          h3 {
            &.focus {
              display: inline-block;
              margin-bottom: $xs;
              border-bottom: 2px solid;
            }
          }
        }
      }

      &.people {
        figure {
          .person {
            margin-bottom: $md;

            p {
              margin-bottom: 0;
              padding-bottom: 0;
              span {
                display: block;
              }
            }

            .img-wrapper {
              margin-bottom: $xs;
            }
          }
        }
      }

      &.offduty {
        figure {
          div {
            h3 {
              margin-bottom: $md;
            }
          }

          &:last-of-type {
            padding-top: $md;
          }

          .image-grid {
            columns: 4;
            column-gap: $md;

            @include respond-to("md") {
              columns: 4;
              column-gap: $md;
            }

            @include respond-to("sm") {
              columns: 2;
              column-gap: $sm;
            }

            img {
              padding-bottom: $md;

              @include respond-to("sm") {
                padding-bottom: $md;
              }
            }
          }
        }
      }
    }
  }
}
