// About page

body.about {
  header {
    position: relative !important;
    nav {
      h1,
      h2 {
        a {
          color: $grey;
          &.router-link-exact-active {
            color: $grey;
          }

          &:hover,
          &.router-link-exact-active {
            color: $grey !important;
          }
        }
      }
      .logo {
        position: relative;
        svg {
          path {
            fill: $grey !important;
          }
        }
      }
    }
  }

  main {
    a {
      border-bottom: 1px solid;
    }

    section {
      &.content-block {
        margin-top: calc(80px + 240 * (100vw - 320px) / 1440);
      }

      &.masthead {
        figure {
          @include breakpoint(small down) {
            max-width: 100%;
            margin: 0;
          }

          .dictionary {
            .meta {
              margin-top: $paddingS;
              h3 {
                span {
                  &.icon {
                    cursor: pointer;
                    svg {
                      transform: translateY(7px);
                      margin-left: $paddingXS;
                      path {
                        stroke-width: 4px;
                      }
                    }
                  }

                  &.audio {
                    color: $accent;
                    font-size: 0.7em;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 2px;
                  }
                }
              }

              .audio {
                margin-top: $paddingS;
                margin-bottom: $paddingS;
              }
            }

            .meaning {
              h2,
              h3 {
                margin-top: $paddingS;
                margin-left: $paddingM;
                &:before {
                  content: "";
                  position: absolute;
                  transform: translateX(-$paddingM);
                  opacity: 0.5;
                }

                &:first-of-type {
                  &:before {
                    content: "1.";
                  }
                }
                &:last-of-type {
                  &:before {
                    content: "2.";
                  }
                }

                @include breakpoint(small down) {
                  margin-top: $paddingXS;
                }
              }
            }
          }
        }
      }

      &.intro {
        margin-top: calc(40px + 80 * (100vw - 320px) / 1440);

        .block-inner {
          max-width: 820px;
        }

        figure {
          .markdown {
            margin-top: $paddingS;
            p {
              &:not(:first-child) {
                margin-top: $paddingS;
              }
            }
          }
        }
      }

      &.studioImages {
        article {
          padding-left: $paddingS;
          padding-right: $paddingS;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: minmax(20vh, auto);

          @include breakpoint(medium down) {
            grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
          }

          figure {
            position: relative;
            img {
              width: 100%;
              height: auto;

              top: 50%;
              position: relative;
              transform: translateY(-50%);
            }

            &:first-of-type {
              padding-left: 2vw;
            }

            &:nth-of-type(2) {
              padding-top: 4vw;
              padding-left: 4vw;
            }

            &:nth-of-type(3) {
              padding-top: 2vw;
              padding-left: 6vw;

              @include breakpoint(medium down) {
                grid-column-start: 1;
                grid-column-end: 4;
                padding-top: $paddingM;
                padding-bottom: $paddingM;
                img {
                  max-width: 60%;
                }
              }
            }

            &:nth-of-type(4) {
              padding-left: 8vw;
              padding-top: 4vw;
              max-width: 80;
            }

            &:nth-of-type(5) {
              padding-top: 6vw;
              padding-left: 6vw;
            }

            &:nth-of-type(5) {
              padding-right: 2vw;
            }

            &:nth-of-type(6) {
              padding-left: 2vw;
              padding-right: 2vw;
            }
          }
        }
      }

      &.services {
        figure {
          .block-inner {
            .service-items {
              margin-top: $paddingS;
              margin-bottom: $paddingL;

              h1 {
                font-size: calc(40px + 52 * (100vw - 320px) / 1440);
                text-align: center;
                line-height: 115%;
              }
            }

            .main-text-block {
              max-width: 780px;
              width: 76vw;
              margin-top: 0;
              margin-left: auto;
              margin-right: auto;

              @include breakpoint(small) {
                width: 100%;
              }
            }
          }
        }
      }

      &.people {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        figure {
          &.person {
            padding: $paddingXS * 1.5;

            .main-text-block {
              margin-top: $paddingS;
              span {
                display: block;
              }
            }

            .img-wrapper {
              margin-bottom: $paddingXS;
              overflow: hidden;
            }
          }

          &:first-of-type {
            grid-row: 1;
            grid-column: 3 / span 3;
          }

          &:nth-child(2) {
            grid-row: 1;
            grid-column: 8 / span 3;
          }
          &:last-of-type {
            grid-row: 1;
            grid-column: 6 / span 2;
            svg {
              position: relative;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);

              path {
                fill: $white;
              }
            }
          }

          @include breakpoint(small down) {
            &:first-of-type {
              grid-row: 1;
              grid-column: 1 / span 6;
            }
            &:last-of-type {
              grid-row: 1;
              grid-column: 7 / span 6;
            }
          }
        }
      }

      &.marquee {
        width: 100vw;
        overflow-x: hidden;

        figure {
          .block-inner {
            max-width: 780px;
            width: 76vw;
            margin-bottom: $paddingM !important;

            h2 {
              margin-bottom: $paddingS;
            }
          }

          .inner {
            overflow: visible;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 200vw;
            animation: icon-scroller 30s linear 0s normal infinite;
            will-change: transform;

            &.inner.right {
              animation: icon-scroller 40s linear 0s reverse infinite;
            }

            @keyframes icon-scroller {
              100% {
                transform: translateX(calc(200vw * -0.35));
              }
            }

            h1 {
              position: relative;
              display: inline-block;
              font-size: calc(40px + 52 * (100vw - 320px) / 1440);
              white-space: nowrap;
              padding-top: $paddingS;
              margin-right: $paddingXL;

              &:before {
                content: url("/images/assets/arrow.svg");
                padding-right: $paddingS;
                left: -64px;
              }
            }
          }
        }
      }

      &.summary {
        margin-bottom: calc(80px + 240 * (100vw - 320px) / 1440);

        figure {
          .block-inner {
            max-width: 780px;
          }

          .footer {
            margin-top: $paddingS;
            h2,
            h3 {
              margin-right: 1.25rem;
            }

            @include breakpoint(small down) {
              h2,
              h3 {
                display: block;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
