// Vue transition

// Slide
.global-enter-active,
.global-leave-active {
  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: $easing;
}

.global-enter-active {
  transition-delay: 500ms;
}

.global-enter,
.global-leave-active {
  opacity: 0;
}

// Images
.img-fade-enter-active,
.img-fade-leave-active {
  transition: all 250ms $easing;
}

.img-fade-enter,
.img-fade-leave-to {
  opacity: 0;
}
