// Page
.loadPage-enter-active {
  animation: pageLoadIn 500ms $easing;
}

.loadPage-leave-active {
  animation: pageLoadOut 500ms $easing;
}

@keyframes pageLoadIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pageLoadOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loadPage-enter,
.loadPage-leave-to {
  opacity: 0;
}

// Project Overlay
.loadProject-enter-active {
  animation: loadingIn 500ms $easing;
  overflow: hidden;
}
.loadProject-leave-active {
  animation: loadingOut 500ms $easing;
  overflow: hidden;
}

@keyframes loadingIn {
  from {
    opacity: 1;
    transform: translateY(0vh);
    height: 100vh;
    overflow: hidden;
  }
  to {
    transform: translateY(0vh);
    height: 100vh;
    opacity: 1;
    overflow: hidden;
  }
}

@keyframes loadingOut {
  from {
    opacity: 1;
    transform: translateY(0vh);
    height: 100vh;
    overflow: hidden;
  }
  to {
    transform: translateY(0vh);
    height: 0vh;
    opacity: 1;
    overflow: hidden;
  }
}

.loading-enter,
.loading-leave-to {
  opacity: 0;
}

// In Viewport
.fade {
  opacity: 0;
  transition: opacity 500ms $easing;
  transition-delay: 500ms;

  &.in-viewport {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;

  transition: opacity 500ms $easing;
  transition-delay: 500ms;

  @media (hover: hover) {
    /* base hover styles from above */

    @for $i from 0 through 100 {
      &:nth-child(#{$i + 1}) span {
        transition-delay: 50ms * $i;
      }
    }
  }

  &.in-viewport {
    opacity: 1;
  }
}
