.flickity-viewport {
  left: 0px;

  .flickity-slider {
    transform: none !important;

    img.carousel-cell {
      display: inline-block;
      max-height: 400px;
      width: auto;
      left: 0px !important;
      opacity: 0;
      z-index: 1;
      transition: $animate-btn;

      &.is-selected {
        opacity: 1;
      }
    }
  }
}

.carousel-status {
  position: absolute;
  z-index: 9;
  bottom: 1rem;
  left: 1.125rem;
  font-size: 1rem;
  transition: $animate-btn;
}

.slideshow {
  position: absolute;
  bottom: 5rem;
  width: 100%;

  @media (max-width: ($break-small)) {
    position: relative;
  }
}
