// CSS Carousel
section {
  &.slider {
    figure {
      position: relative;
      display: flex;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      margin: 0;
      transform: translateY(20vh);

      &::-webkit-scrollbar {
        display: none;
      }

      @media screen and (max-width: ($break-small)) {
        margin-right: $xs/2;
        margin-left: $xs/2;
      }

      div {
        scroll-snap-align: start;
        flex: 0 0 auto;

        @media screen and (max-width: $break-small) {
          &.columns {
            padding-left: $xs/2;
            padding-right: $xs/2;
          }
        }

        a {
          border-bottom: none;
          display: inline-block;

          h2 {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
