button {
  display: inline-block;
  border-radius: 40px;
  width: auto;
  max-height: 44px;
  background-color: transparent;
  border: 2px solid $color-black;
  transition: $animate-btn;

  p {
    height: 40px;
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 40px;
    margin: 0;
    padding: 0px 20px;
    transition: $animate-link;
  }

  &:hover {
    width: auto;
    background-color: $color-black;
    border: 2px solid $color-black;
    * {
      color: $color-white;
    }
  }

  &.read-more {
    p {
      &:after {
        content: "Read more";
      }
    }
  }

  &.link {
    p {
      &:after {
        padding-left: 10px;
        content: "↗";
      }
    }
  }

  &:focus {
    outline: none;
    border: none;
  }
}
