body {
  footer {
    background-color: $accent;
    padding: $xs 0;

    a {
      color: $black;

      &:hover {
        color: $white;
      }
    }

    section.globalFooter {
      figure {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-between;

        span {
          display: flex;
          justify-content: space-between;

          a {
            margin-right: $sm;
            align-self: center;
            border-bottom: transparent;

            @include respond-to("sm") {
              margin-right: $xs;
            }

            &.top {
              margin: 0;
            }

            p {
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }

  &.about {
    footer {
      a {
        color: $black !important;

        &:hover {
          color: $white !important;
        }
      }
    }
  }
}
