footer {
  padding-top: $lg;
  padding-bottom: $lg;
  z-index: 1;

  a {
    text-decoration: underline;
  }

  p {
    line-height: 1.2;
  }

  @media (max-width: ($break-small)) {
    padding-top: $sm;
    padding-bottom: $sm;

    p {
      &.float-right {
        float: left !important;
        padding-bottom: $sm;
      }
    }
  }
}
