body {
  footer {
    background-color: $white;
    padding: $paddingXS 0;

    a {
      color: $black !important;

      &:hover {
        color: $black !important;
      }
    }

    figure {
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: space-between;

      @include breakpoint(small down) {
        padding-bottom: 0;
      }

      span {
        display: flex;
        justify-content: space-between;

        a {
          margin-right: $paddingS;
          align-self: center;
          border-bottom: transparent;

          @include breakpoint(small down) {
            margin-right: $paddingXS;
          }

          &.top {
            margin: 0;
          }

          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }

  &.about {
    footer {
      background-color: $black;
      a {
        color: $white !important;

        &:hover {
          color: $black !important;
        }
      }
    }
  }
}
