body {
  background-color: $color-grey;

  header {
    position: relative;
    display: block;
    bottom: 0;
    height: 100vh;
    width: 100%;

    @media (max-width: ($break-small)) {
      padding: 0;
      height: auto;
    }

    section {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-flow: row wrap;
      padding-top: $sm;

      @media (max-width: ($break-small)) {
        padding-top: $sm;
      }

      figure {
        position: relative;

        &.intro {
          & h1,
          & h2,
          & h3 {
            font-weight: lighter;
            line-height: 0.75;
            font-weight: lighter;
            margin: 0;

            &.title {
              max-width: 100%;
              font-weight: lighter;
              line-height: 0.75;
              padding-top: 10px;

              @media (max-width: ($break-small)) {
                padding-top: 0;
                padding-bottom: $sm;
              }
            }
          }
        }

        &.btm {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          margin-right: auto;
          -ms-flex-item-align: end;
          align-self: flex-end;

          @media (max-width: ($break-small)) {
            margin-bottom: $md;
          }

          h3 {
            padding: 0;
            margin: 0;
          }
        }

        &.tuckAway {
          transform: translateY(50vh);
        }
      }
    }
  }

  // Recently
  main {
    position: relative;
    margin-top: 20vh;

    header {
      padding: 0;
      margin: 0;
    }

    section {
      @media (max-width: ($break-small)) {
        margin: 0 0 $sm;
      }
    }
  }
}
