.outer-margin {
  &.hero {
    .row {
      .column {
        grid-column: 1 / 26;

        @include breakpoint(x-large) {
          grid-column: 2 / 25;
        }
      }
    }
  }

  &.studio {
    @include mb(x0);

    .row {
      grid-column: 1 / 26;
      @include display-grid;
      @include pt(x1);
      @include pb(x2);

      @include breakpoint(large) {
        @include pt(x0p5);
        @include pb(x1);
      }

      .header {
        grid-column: 1 / 26;
        grid-row: 1;
        @include pl(x1);
        @include pb(x0p5);

        @include breakpoint(medium) {
          @include pl(x0);
        }

        @include breakpoint(large) {
          grid-column: 1 / 10;
          grid-row: 1;
        }
      }

      .body {
        grid-column: 1 / 20;
        grid-row: 3;
        @include pl(x1);

        @include breakpoint(medium) {
          grid-row: 1;
          grid-column: 1 / 13;
          @include pl(x0p5);
        }

        @include breakpoint(large) {
          grid-column: 1 / 9;
        }

        @include breakpoint(x-large) {
          grid-column: 2 / 9;
          @include pl(x0);
        }

        .text {
          grid-row: 1;
          @include mb(x1);
        }
      }

      .image {
        grid-column: 1 / 26;
        grid-row: 2;
        @include px(x1);
        @include mb(x1);

        img {
          width: 100%;
          height: clamp(205px, 55vw, 445px);
          overflow: hidden;
          object-fit: cover;
          object-position: 0 45%;
        }

        @include breakpoint(medium) {
          grid-column: 13 / 26;
          grid-row: 1;
          @include pr(x0p5);
          @include pl(x0);
          @include mb(x0p5);

          img {
            @include mb(x2);
          }
        }

        @include breakpoint(large) {
          grid-column: 13 / 25;
          @include pr(x0);
        }
      }
    }
  }

  &.off-duty {
    @include mt(x0);
    @include mb(x0);

    .row {
      @include pt(x1);
      @include pb(x0);

      @include breakpoint(medium) {
        @include pb(x0p5);
      }

      @include breakpoint(x-large) {
        @include pb(x0p25);
      }

      .header {
        position: relative;
        grid-row: 1;
        grid-column: 1 / 26;

        @include breakpoint(medium) {
          grid-column: 1 / 26;
        }

        @include breakpoint(large) {
          grid-column: 18 / 13;
        }

        @include breakpoint(x-large) {
          grid-column: 18 / 25;
        }
      }

      .body {
        position: relative;
        grid-row: 2;
        grid-column: 1 / 22;
        @include mb(x2);

        @include breakpoint(medium) {
          grid-column: 1 / 20;
          @include mb(x0p5);
        }

        @include breakpoint(large) {
          grid-row: 2;
          grid-column: 18 / 26;
        }

        @include breakpoint(x-large) {
          @include px(x0);
          grid-column: 18 / 25;
        }

        .title {
          grid-row: 1;
        }

        .text {
          grid-row: 2;

          @include breakpoint(large) {
            grid-column: 13 / 26;
          }
        }
      }

      .carousel {
        grid-column: 1 / 26;
        grid-row: 3;
        position: relative;
        @include px(x0);

        @include breakpoint(medium) {
          grid-column: 1 / 22;
        }

        @include breakpoint(large) {
          grid-column: 1 / 16;
          grid-row: 2;
        }

        @include breakpoint(x-large) {
          grid-column: 2 / 16;
        }

        .swiper-container {
          position: relative;
          width: 100%;

          .swiper-wrapper {
            width: auto;
            position: relative;

            .swiper-slide {
              height: clamp(225px, 30vw, 500px);
              background-color: $black;
              width: auto;

              .slide-img {
                height: 100%;
                width: auto;

                img {
                  height: 100%;
                  margin: 0;
                  width: auto;
                }
              }

              .slide-text {
                position: absolute;
                bottom: 8px;
                left: 10px;
                z-index: 9999 !important;
                cursor: pointer !important;

                p {
                  background-color: $black;
                  color: $white;
                  padding: 2px 6px 3px;
                  @include font-size(14px, 16px);
                  @include m(x0);
                }

                &:hover {
                  a,
                  a p {
                    background-color: transparent;
                    color: $white;
                  }

                  + .slide-img {
                    img {
                      opacity: 0;
                    }
                  }
                }
              }
            }
          }
        }

        .swiper-button-prev,
        .swiper-button-next {
          display: block;
          position: absolute;
          top: 0;
          bottom: 20%;
          width: 15%;
          height: 80%;
          margin: 0;
          padding: 0;
          z-index: 500 !important;
          cursor: pointer;
          display: block;
          align-items: center;
          justify-content: center;

          &:after {
            display: none;
          }
        }

        .swiper-button-prev {
          cursor: w-resize;
          position: absolute;
          left: $x0p5;
          right: auto;
        }

        .swiper-button-next {
          cursor: e-resize;
          position: absolute;
          right: $x0p5;
          left: auto;
        }
      }

      .swiper-pagination {
        grid-column: span 8 / 26;
        grid-row: 2;
        position: relative !important;
        text-align: right;
        transition: 300ms opacity $easing;
        z-index: 1000;
        align-self: flex-end;
        line-height: 0.6;
        @include font-size(18px, 28px);
        @include mb(x2);

        span {
          line-height: 0.6;

          &.swiper-pagination-current,
          &.swiper-pagination-total {
            letter-spacing: -3px;
            font-weight: normal;
          }
        }

        @include breakpoint(medium) {
          grid-row: 3;
          grid-column: span 4 / 26;
          @include font-size(32px, 48px);
          font-family: $font-tex-cond;

          line-height: 0.9;

          span {
            line-height: 0.9;
          }
        }

        @include breakpoint(large) {
          grid-row: 2;
          grid-column: span 4 / 26;
        }

        @include breakpoint(x-large) {
          grid-column: span 4 / 25;
        }
      }
    }
  }
}
