.imgBox {
  z-index: 2000;

  &.Landscape {
    max-width: 58vw;

    @include breakpoint(medium only) {
      max-width: 78vw;
    }

    @include breakpoint(small only) {
      max-width: 88vw;
    }
  }

  &.Portrait {
    max-width: 36vw;

    @include breakpoint(medium only) {
      max-width: 52vw;
    }

    @include breakpoint(small only) {
      max-width: 78vw;
    }
  }
}
