.imgBox {
  z-index: 2000;

  &.Landscape {
    width: 80vh;
    height: auto;
    max-width: 85%;
    margin: 0 auto;

    .website {
      border-radius: 1;
      background-color: $sand;
      overflow: hidden;
      padding: calc(40px + 40 * (100vw - 414px) / 1680);

      img {
        box-shadow: 0px 16px 40px -16px rgba(0, 0, 0, 0.24);
        border-radius: 1;
        display: block !important;
        transition: transform 250ms $easing;
      }
    }
  }

  &.Portrait {
    width: 70vh;
    height: auto;
    max-width: 55%;
    margin: 0 auto;

    .device {
      margin: 0 auto;
      background-color: $black;
      border-radius: calc(32px + 24 * (100vw - 414px) / 1680);
      box-shadow: 0px 16px 40px -16px rgba(0, 0, 0, 0.24);
      padding: calc(8px + 12 * (100vw - 414px) / 1680);

      img {
        border-radius: calc(16px + 24 * (100vw - 414px) / 1680);
        transition: transform 250ms $easing;
      }
    }
  }

  figcaption {
    margin-top: $paddingM;
  }
}
