// About page
body.imprint {
  background-color: $black;
  color: $grey;

  nav {
    display: none;
  }

  main {
    height: 100%;

    section {
      &.intro {
        .closeBtn {
          position: sticky;
          top: 0;
          left: 50%;
          transform: translateX(-50%) translateY($paddingL);
          max-width: 100px;
          display: block;
          z-index: 999;
          background-color: $grey;
          border-radius: 40px;
          padding: 8px 16px;

          @include breakpoint(small down) {
            top: 0;
            transform: translateX(-50%) translateY($paddingS);
          }

          p {
            cursor: pointer;
            font-size: 17px;
            margin: 0;
            text-transform: uppercase;
            text-align: center;
            color: $black;
          }
        }
        figure {
          padding-top: $paddingXL;
          padding-bottom: $paddingXL;

          @include breakpoint(medium down) {
            padding-top: $paddingL;
            padding-bottom: $paddingL;
          }

          p {
            margin-top: $paddingS;
          }
        }
      }
    }
  }
}
