// About page
body.journal {
  background-color: antiquewhite;
  color: $black;

  a {
    color: $black;
    text-decoration: none;
  }

  nav {
    .router-link-exact-active {
      border-bottom: 2px solid $white;
    }

    .menu .router-link-exact-active {
      border-bottom: 2px solid $white;
    }
  }

  main {
    section {
      display: block;
      column-count: 1;
      padding: $md 0;

      figure {
        float: left;

        &:nth-of-type(2n + 3) {
          float: right !important;
        }

        &.item {
          width: 50%;
          padding: 30px;
          float: left;

          img {
            width: 100%;
            height: auto;
            display: block;
          }
        }
      }
    }
  }
}
