main.linkList {
  section.projectList {
    position: relative;
    margin-top: 200px;

    figure {
      position: relative;

      details {
        border-top: solid 2px;
        margin-bottom: 0px;

        &:last-of-type {
          border-bottom: solid 2px;
        }

        summary {
          cursor: pointer;
          position: relative !important;
          a {
            width: 100%;
            border-bottom: 0px solid transparent;

            h2 {
              padding-top: $xs / 2;
              padding-bottom: $xs / 1.5;
              margin: 0;
              opacity: 1;
              float: left;

              span {
                &.dot {
                  opacity: 0;
                  display: block;
                  position: absolute;
                  color: $accent;
                  font-size: 0.5em;
                  transform: translateX(-$sm, 60%);
                }

                &.title {
                  max-width: 80vw;
                  padding-left: 0;

                  @include respond-to("sm") {
                    max-width: 80vw;
                  }
                }
              }

              a {
                border-bottom: 0px transparent !important;
              }

              &:hover {
                color: initial;

                span {
                  &.dot {
                    opacity: 1;
                    transform: translate(0px, 60%);
                  }

                  &.title {
                    padding-left: $sm;
                  }
                }

                @include respond-to("sm") {
                  &.title {
                    padding-left: 0;
                  }
                }
              }

              &.togl {
                position: absolute;
                right: 0;
                top: 0%;

                &:after {
                  content: "->";
                  padding-left: $xs / 2;
                  vertical-align: middle;
                }
              }
            }

            img {
              padding-bottom: $xs;
              z-index: -99;
            }
          }
        }

        &[open] {
          width: 100%;

          summary {
            a {
              position: relative !important;
              top: 0px;

              h2 {
                span {
                  &.dot {
                    opacity: 1;
                    transform: translate(0px, 60%);
                  }

                  &.title {
                    padding-left: $xs;

                    @include respond-to("sm") {
                      padding-left: $xs * 1.5;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  footer.links {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
