main.linkList {
  section.projectList {
    position: relative;
    margin-top: 200px;

    @include respond-to("sm") {
      margin-top: 20vh;
    }

    figure {
      position: relative;

      .details {
        border-top: solid 2px;
        margin-bottom: 0px;

        &:last-of-type {
          border-bottom: solid 2px;
        }

        .summary {
          position: relative !important;
          a {
            width: 100%;
            display: block;
            border-bottom: 0px solid transparent;

            &:hover {
              color: initial;
            }

            h2 {
              padding-top: $xs / 2;
              padding-bottom: $xs / 1.5;
              margin: 0;
              opacity: 1;
              float: left;

              a {
                border-bottom: 0px transparent !important;
              }

              &:hover {
                color: initial;

                span {
                  &.dot {
                    opacity: 1;
                    transform: translate(0px, 60%);
                  }

                  &.title {
                    padding-left: $sm;
                  }
                }

                @include respond-to("sm") {
                  &.title {
                    padding-left: 0;
                  }
                }
              }

              &.togl {
                position: absolute;
                right: 0;
                top: 0%;

                &:after {
                  content: "->";
                  padding-left: $xs / 2;
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
    }
  }

  footer.links {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
