// CSS Carousel
.listgroup {
  padding-top: $xl;
  padding-bottom: $xl;
  height: 100vh;
  background-color: #aebbba;

  figure {
    padding-bottom: 0;

    ul {
      li {
        h1,
        h2,
        h3 {
          display: inline-block;
        }

        .content {
          position: absolute;
          top: 0;
          right: max($sm);
          opacity: 0;
          transition: opacity 500ms;

          @include respond-to("sm") {
            position: relative;
            transform: none;
            right: auto;
            opacity: 1;
            margin-bottom: $md;
          }

          img {
            padding-bottom: $xs;
          }

          p {
            clear: both;
            float: left;
            display: block;
            position: relative;
            padding-bottom: $xs;
            margin: 0;

            &:last-of-type {
              padding-bottom: 0;
            }

            a {
              border-bottom: 2px solid;
            }
          }
        }

        &.active {
          a {
            h2 {
              color: $accent;
              &:after {
                content: "→";
                position: absolute;
              }
            }
          }
          .content {
            transform: translate3d(0, 0px, 0);
            opacity: 1;

            @include respond-to("sm") {
              transform: none;
              right: auto;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
