// CSS Carousel
body {
  section {
    &.masthead-block {
      margin-top: calc(8vh + 8vw);
      display: grid;
      grid-template-columns: repeat(25, 1fr);

      article {
        grid-column: 6 / 21;
        grid-row: 1;

        @include breakpoint(medium down) {
          grid-column: 4 / 23;
        }

        @include breakpoint(small down) {
          grid-column: 2 / 25;
        }
      }
    }
  }
}
