body {
  header.global {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;

    nav {
      display: flex;
      height: 100px;
      position: relative;

      a {
        border: none !important;
        text-decoration: none !important;

        &:hover {
          color: initial;
        }
      }

      .nav-item {
        z-index: 1001;
        transition: all 500ms $easing;
        opacity: 1;
        float: right;
        padding-right: $paddingS;

        a {
          border-bottom: transparent;
          position: relative;
          display: block;

          &:hover,
          &.router-link-exact-active {
            h1 {
              color: $white;
            }

            svg {
              overflow: visible;

              .path {
                animation: dash 500ms cubic-bezier(0.75, 0, 0.75, 1) forwards;
              }
            }
          }

          h1,
          h2 {
            text-transform: uppercase;
            letter-spacing: -0.05em;
            margin-bottom: 0;
          }

          svg {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            bottom: 0;
            width: 120%;
            height: auto;

            .path {
              stroke-width: 10px;
              stroke-dasharray: 2000;
              stroke-dashoffset: 2000;
            }

            @keyframes dash {
              from {
                stroke-dashoffset: 2000;
              }
              to {
                stroke-dashoffset: 0;
              }
            }
          }
        }
      }

      .logo {
        transition: all 500ms $easing;
        float: left;
        height: 48px;
        width: 48px;

        a {
          border: none !important;
          text-decoration: none !important;
          position: relative;

          svg {
            &.small {
              position: relative;
              transform: translateX(-50%) translateY(-55%);
              left: 50%;
              top: 50%;
              height: calc(24px + 8 * (100vw - 375px) / 1440);
            }
          }
        }
      }
    }

    &.active {
      nav {
        .logo {
          transform: translateX(-50%) translateY(-$paddingM);
          opacity: 0;
        }
        .nav-item {
          opacity: 0;
        }
      }
    }
  }

  &.active {
    header.global {
      opacity: 0;
      z-index: -1;
    }
  }
}
