header {
  @include display-grid;
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  z-index: 9000;
  transition: all 300ms linear;

  &.active {
    background-color: var(--black);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;

    @include breakpoint(small only) {
      @media (hover: none) and (pointer: coarse) {
        height: 85vh;
      }
    }

    * {
      color: var(--grey);
      fill: var(--grey);
    }
  }

  .navigation {
    @include display-grid;
    grid-column: 1 / 26;
    width: 100vw;
    position: relative;

    .header {
      grid-column: 1 / 26;
      position: relative;
      justify-content: space-between;
      align-items: center;
      height: fit-content;
      margin: var(--space-sm) 0;

      .nav-item {
        position: relative;
        margin: 0;
        padding: 0;
        grid-row: 1;

        &.burger {
          position: relative;
          justify-self: flex-end;
          float: right;

          .nav {
            position: relative;
            display: flex;
            padding: var(--x0p5);
            height: 40px;
            width: 40px;
            align-items: center;
            justify-content: center;

            svg {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }

        h3 {
          cursor: pointer;
          position: relative;
          padding: 0;
          margin: 0;

          &.page-title {
            padding-left: var(--space-xs);
          }
        }

        a {
          cursor: pointer;
          border: none;
          position: relative;
        }

        &.logo {
          text-align: left;

          .site-title {
            &:hover {
              border-bottom: 2px solid;
            }
          }

          &.active {
            display: none;
          }
        }

        .nav {
          text-align: right;

          svg {
            vertical-align: middle;
          }

          h3 {
            &.burger {
              span {
                &.burger {
                  text-align: center;
                  &:before {
                    content: "";
                    position: absolute;
                    top: 52%;
                    left: 52%;
                    transform: translate(-50%, -50%);
                    width: clamp(48px, 5vw, 64px);
                    height: clamp(48px, 5vw, 64px);
                    border-radius: clamp(48px, 5vw, 64px);
                    border: 3px solid;
                  }
                }
              }
            }
          }
        }
      }

      .time {
        position: relative;
        margin: 0;
        display: none;
        order: -1;

        @include breakpoint(small only) {
          position: absolute;
          top: 0;
          left: 0;
        }

        &.active {
          display: block;
        }

        h3,
        p {
          margin: 0;
          padding: 0;
          display: inline-block;
          color: var(--grey);

          &.title {
            grid-column: 1 / 6;
            grid-row: 1;
            display: block;
          }

          &.status {
            grid-column: 1 / 6;
            grid-row: 2;
          }

          span {
            &.blinking {
              content: ":";
              white-space: pre;
              overflow: hidden;
              display: inline;
              vertical-align: bottom;
              animation: blinker 1s step-start infinite;
            }
          }

          @keyframes blinker {
            50% {
              opacity: 0;
            }
          }

          span.highlight {
            color: var(--red);
            cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='100' height='120' viewport='0 0 100 100' style='fill:black;font-size:60px;'><text y='50%'>⏰</text></svg>")
                32 32,
              auto !important;
            padding-left: var(--space-xxs);
          }
        }
      }
    }

    .media {
      position: absolute;
      right: var(--x1);
      bottom: var(--space-md);
      width: var(--x10);
      z-index: -1;

      @include breakpoint(small only) {
        @media (hover: none) and (pointer: coarse) {
          width: calc(var(--x10) - var(--x0p5));
          right: var(--x1p5);
          bottom: var(--space-md);
        }
      }

      img {
        opacity: 0;
        &.showMe {
          opacity: 1;
        }
      }
    }

    .main {
      grid-column: 2 / 25;
      grid-row: 2;
      align-self: flex-end;
      display: none;
      margin-bottom: var(--x1);
      pointer-events: none;

      &.active {
        pointer-events: all;
        display: block;
      }

      @include breakpoint(small only) {
        padding-bottom: var(--x0p5);
      }

      .list {
        grid-column: 1 / 26;
        align-self: flex-end;

        * {
          cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='100' height='120' viewport='0 0 100 100' style='fill:black;font-size:60px;'><text y='50%'>👀</text></svg>")
              32 32,
            auto !important;
        }

        ul {
          display: inline-block;
          padding: 0;

          li {
            list-style: none;
            display: block;
            position: relative;
            clear: both;
            margin: 0;

            a {
              border: none !important;

              h2 {
                margin: 0;
                padding: 0;

                &::after {
                  content: ":";
                  display: none;
                }
              }

              &:hover {
                * {
                  color: var(--red);
                }

                h2 {
                  &::after {
                    content: ":";
                    display: inline;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

main {
  transition: filter 150ms linear;
}

body.navOpen {
  height: 100vh;
  overflow: hidden;

  @include breakpoint(small only) {
    position: fixed;
  }

  @include breakpoint(small only) {
    main#page {
      filter: url(#blur);
      filter: blur(4px);
    }
  }
}
