body {
  header.global {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity: 1;
    transform: translateY(0%);
    transition: all 300ms $easing;

    &.outer-margin {
      @include display-grid;
      margin: 0;

      .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "a b c";
        grid-column: 2 / 25;
        align-items: center;
        margin-top: $space-md;

        @include breakpoint(xx-large) {
          grid-column: 3 / 24;
        }

        .nav-item {
          overflow: visible;
          position: relative;
          margin: 0;

          a {
            cursor: pointer;
            border: none;
            position: relative;

            mark {
              display: inline-block;
              overflow: visible;
              position: relative;
              background-color: transparent;
            }

            h3 {
              @include m(x0);
            }

            &.router-link-exact-active {
              mark {
                .svg {
                  overflow: visible;

                  .path {
                    stroke-dasharray: 0;
                    stroke-dashoffset: 0;
                    animation: dashOut 300ms linear forwards;
                    animation-direction: reverse;

                    @keyframes dashIn {
                      from {
                        stroke-dashoffset: 0;
                      }
                      to {
                        stroke-dashoffset: 1500;
                      }
                    }

                    @keyframes dashOut {
                      from {
                        stroke-dashoffset: 0;
                      }
                      to {
                        stroke-dashoffset: 1500;
                      }
                    }
                  }
                }
              }
            }
          }

          &:first-of-type,
          &:last-of-type {
            mark {
              display: inline-block;
              overflow: visible;
              position: relative;
              background-color: transparent;

              .svg {
                height: calc(100% + 0.3em);
                left: -0.3em;
                pointer-events: none;
                position: absolute;
                top: -0.5em;
                touch-action: none;
                width: calc(100% + 0.6em);
                z-index: -1;

                .path {
                  fill: none;
                  stroke: $accent;
                  stroke-width: clamp(8px, 1em, 16px);
                  stroke-dasharray: 1500;
                  stroke-dashoffset: 1500;
                  animation: dashIn 300ms linear forwards;
                }

                @keyframes dashIn {
                  from {
                    stroke-dashoffset: 0;
                  }
                  to {
                    stroke-dashoffset: 1500;
                  }
                }

                @keyframes dashOut {
                  from {
                    stroke-dashoffset: 0;
                  }
                  to {
                    stroke-dashoffset: 1500;
                  }
                }
              }

              &:hover {
                .svg {
                  overflow: visible;

                  .path {
                    animation: dashOut 300ms linear forwards;
                    animation-direction: reverse;
                  }
                }
              }
            }
          }

          &:first-of-type {
            position: relative;
            grid-area: a;
          }

          &:nth-of-type(2) {
            grid-area: b;
            position: relative;
            justify-self: center;
            align-self: center;

            @include p(x0);

            a {
              display: flex;
              align-content: center;

              mark {
                svg {
                  height: clamp(24px, 2.25vw, 40px);
                }
              }
            }
          }

          &:last-of-type {
            position: relative;
            grid-area: c;
            text-align: right;
          }
        }
      }
    }
  }

  // &.active,
  // &.product {
  //   header.global {
  //     opacity: 0;
  //     transform: translateY(-100%);
  //   }
  // }

  &.about {
    header.global {
      & > a {
        &:hover {
          h3 {
            color: $grey !important;
          }
        }
      }
    }
  }
}
