.news,
.news-list {
  margin-top: var(--space-sm);
  grid-column: 1 / 26;

  .news-feed {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: var(--x1);

    @include breakpoint(medium) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(x-large) {
      grid-template-columns: repeat(4, 1fr);
    }

    .post {
      grid-column: span 1;
      margin-bottom: var(--x3);

      @include breakpoint(medium) {
        margin-bottom: var(--x1);
      }

      @include breakpoint(large) {
        margin-bottom: var(--x0p5);
      }

      .column {
        display: block;

        .body {
          p {
            font-size: var(--paragraph-small);

            time {
              float: left;
              opacity: 0.5;
              font-size: var(--paragraph-small);
              &:after {
                content: ":";
                padding-right: var(--space-xs);
              }
            }
          }
        }

        .media {
          display: block;
          margin-bottom: var(--space-xs);

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  .story-link {
    grid-column: 1 / 26;
    padding-bottom: var(--x1);
  }
}
