.news,
.news-list {
  margin-top: var(--space-sm);

  .news-grid {
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-column: 2 / 25;
    margin-top: 0;
    margin-bottom: $x2;

    .post {
      grid-column: 2 / 25;
      margin-bottom: var(--space-md);

      @include breakpoint(medium) {
        border-bottom: 2px solid;

        &:first-of-type {
          border-top: 2px solid;
        }
      }

      .column {
        grid-column: 1 / 26;
        display: grid;
        grid-template-columns: repeat(25, 1fr);
        grid-template-rows: max-content;
        padding-bottom: var(--space-sm);

        .date {
          grid-column: 1 / 26;
          grid-row: 2;

          @include breakpoint(medium) {
            grid-column: 1 / 5;
            grid-row: 1;
          }
        }

        .body {
          grid-column: 1 / 26;
          grid-row: 3;

          @include breakpoint(medium) {
            grid-row: 1;
            grid-column: 5 / 16;
          }

          .categories {
            margin-top: var(--space-xs);

            p {
              color: $gray;
            }
          }
        }

        .media {
          grid-column: 1 / 26;
          display: block;
          justify-self: unset;
          margin-bottom: var(--space-xs);

          img {
            width: 100%;
            height: auto;
          }

          @include breakpoint(medium) {
            grid-column: 20 / 26;
            justify-self: flex-end;
            height: fit-content;
            grid-row: 1;

            img {
              max-width: none;
              height: clamp(205px, 17vw, 305px);
              width: auto;
            }
          }
        }
      }
    }
  }

  .story-link {
    grid-column: 2 / 25;
    padding-bottom: var(--x1);
  }
}
