.news,
.news-list {
  @include display-grid;
  margin-top: $space-md;

  .news-grid {
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-column: 2 / 25;
    margin-top: 0;
    margin-bottom: $x2;

    .news-item {
      grid-column: 1 / 26;
      padding: $space-xs 0;
      border-bottom: 2px solid;

      &:first-of-type {
        border-top: 2px solid;
      }

      .column {
        grid-column: 1 / 26;
        display: grid;
        grid-template-columns: repeat(25, 1fr);
        grid-template-rows: max-content;

        .date {
          grid-column: 1 / 26;
          grid-row: 2;
          color: rgba(var(--black), $alpha: 0.5);

          @include breakpoint(medium) {
            grid-column: 1 / 5;
            grid-row: 1;
          }
        }

        .body {
          grid-column: 1 / 26;
          grid-row: 3;

          @include breakpoint(medium) {
            grid-row: 1;
            grid-column: 5 / 16;
          }

          @include breakpoint(large) {
            grid-column: 6 / 16;
          }

          p {
            code {
              font-family: var(--font-tex-regular) !important;
            }
          }

          .categories {
            margin-top: $space-xs;

            p {
              color: $gray;
            }
          }
        }

        .storyImage {
          grid-column: 1 / 26;
          display: block;
          justify-self: unset;
          margin-bottom: $space-sm;

          img {
            width: 100%;
            height: auto;
          }

          @include breakpoint(medium) {
            grid-column: 20 / 26;
            display: inline-block;
            justify-self: flex-end;
            grid-row: 1;
            margin-bottom: 0;

            img {
              object-fit: contain;
              object-position: top right;
              width: auto;
              height: clamp(205px, 20vw, 325px);
            }
          }
        }
      }
    }
  }

  .story-link {
    grid-column: 2 / 25;
    padding-bottom: $x1;
  }
}
