section.ongoing {
  figure {
    padding-bottom: $md;
    position: relative;

    div {
      margin-bottom: $sm;

      @include respond-to("sm") {
        margin-bottom: $sm;
      }

      img,
      video {
        padding-bottom: $xs / 2;
      }
    }
  }
}
