// Foundation code
.row,
.grid-container {
  width: 100%;
  max-width: 1680px;
  padding-right: $md;
  padding-left: $md;

  &.fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

.column,
.columns,
.grid-padding-x {
  padding-right: $sm;
  padding-left: $sm;
}

.center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

section {
  position: relative;
  width: 100%;
  figure {
    width: 100%;
    padding-bottom: $sm;

    @include respond-to("sm") {
      padding-bottom: $xs;
    }
  }
}

// Color Schemes
body {
  &.color-white {
    background-color: $white;
    * {
      color: $black;
    }
  }

  &.color-grey {
    background-color: $grey;
    * {
      color: $black;
    }
  }

  &.about {
    background-color: $black;
    * {
      color: $grey;
      fill: $accent;
    }
  }
}
