// Foundation code
.row,
.grid-container {
  width: 100vw;
  max-width: 1680px;
  padding-right: $md;
  padding-left: $md;

  @include respond-to("sm") {
    padding-left: $sm;
    padding-right: $sm;
  }

  &.fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

.column,
.columns {
  padding-right: $md;
  padding-left: $md;

  @include respond-to("sm") {
    padding-right: $sm;
    padding-left: $sm;
  }
}

.center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

section {
  position: relative;

  figure {
    margin-bottom: $md;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include respond-to("sm") {
      margin-bottom: $sm;
    }
  }
}

// Color Schemes
body {
  transition: background-color 50ms linear !important;

  &.color-white {
    color: $black;
    background-color: $white;
  }

  &.color-grey {
    color: $black;
    background-color: $grey;
  }

  &.about {
    color: $grey;
    background-color: $black;
    & > & {
      &:hover {
        color: inherit;
      }
    }
  }
}
