.project-grid {
  @include display-grid;
  grid-auto-flow: column;

  .lead {
    grid-column: 2 / span 10;
    padding-bottom: var(--space-md);
    p {
      font: smaller;
    }
  }

  .project {
    grid-column: 2 / 25;
    margin: 0;
    border-bottom: 2px solid;
    cursor: pointer;

    &:first-of-type {
      border-top: 2px solid;
    }

    a {
      display: grid;
      border: none;
      padding: var(--space-xxs) 0;

      figure {
        grid-column: 1 / 26;
        padding: var(--space-xs) 0;

        .project-content {
          @include display-grid;
          position: relative;

          @include breakpoint(small only) {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
          }

          p {
            float: left;

            span {
              display: inline-block;
            }
          }

          .name {
            grid-row: 1;
            grid-column: 1 / 13;

            @include breakpoint(medium) {
              grid-column: 1 / 8;
            }

            .icon {
              filter: grayscale(100%);
            }
          }

          .image {
            position: relative;
            grid-row: 1;
            grid-column: 9 / 19;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            width: 40vw;
            z-index: -1;
          }

          .categories {
            grid-row: 1;
            grid-column: 18 / 26;
            justify-self: flex-end;

            @include breakpoint(medium) {
              grid-column: 10 / 26;

              p {
                display: inline-block;
                margin-right: var(--space-xs);

                &:last-of-type {
                  margin-right: 0;
                }
              }
            }

            @include breakpoint(large) {
              p {
                display: inline-block;
                margin-right: var(--space-xxs);

                span {
                  &:first-of-type {
                    padding-right: 0px;
                  }
                }
              }
            }
          }

          .year {
            grid-row: 1;
            grid-column: 20 / 26;
            text-align: right;
            display: none;

            span {
              &.foo {
                display: inline;
              }
              &.bar {
                display: none;
              }
            }
          }
        }
      }
    }

    &:hover {
      a {
        figure {
          .project-content {
            .name {
              .icon {
                filter: grayscale(0%);
              }
            }

            .image {
              opacity: 1;
            }

            .year {
              span {
                &.foo {
                  display: none;
                }
                &.bar {
                  display: inline;
                }
              }
            }
          }
        }
      }
    }
  }
}

.client-overview {
  margin-top: 0;
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);

  .row {
    grid-column: 2 / 25;
    grid-auto-flow: column;

    .header {
      grid-row: 1;
      grid-column: 2 / 10;
      padding-bottom: var(--space-sm);

      @include breakpoint(medium) {
        grid-column: 2 / 10;
        padding-bottom: 0;

        h3 {
          max-width: 290px;
          &:before {
            content: "";
          }
        }
      }
    }

    .body {
      display: grid;
      grid-template-columns: repeat(25, 1fr);
      grid-row: 2;
      grid-column: 2 / 25;

      h3 {
        grid-column: 1 / 26;
        padding-bottom: var(--space-md);
      }

      @include breakpoint(medium) {
        grid-row: 1;
        grid-column: 10 / 25;
      }

      ul {
        margin: 0;
        padding: 0;
        columns: 2;
        padding-bottom: var(--space-md);
        grid-column: 1 / 26;
        grid-row: 2;

        @include breakpoint(medium) {
          grid-column: 1 / 23;
        }

        @include breakpoint(large) {
          columns: 3;
        }

        li {
          list-style: none;
          p {
            display: inline-block;
          }
        }
      }

      p.link {
        grid-row: 3;
        grid-column: 1 / 26;
      }
    }
  }
}
