body {
  &.overview {
    .projectOverview {
      display: grid;
      grid-template-columns: repeat(25, 1fr);
      margin-top: $x2;

      @include breakpoint(medium) {
        margin-top: $x4;
      }

      a {
        display: inline-block;
        border-bottom: 2px solid $grey;

        &:hover {
          border-bottom: 2px solid $black;
        }
      }

      figure {
        &.project-grid {
          grid-column: 2 / 25;

          .project-item {
            margin-bottom: 8px;
            a {
              border-bottom: none !important;

              .project-content {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-start;
                width: 200vw;

                @include breakpoint(large) {
                  flex-wrap: wrap;
                  width: 100%;
                }

                .tags {
                  margin-left: 16px;
                  display: none;

                  @include breakpoint(medium) {
                    display: initial;
                  }
                }
              }

              &:hover {
                h1,
                .tags {
                  color: $accent;
                  p {
                    background-color: $accent;
                    color: $white;
                    border-color: $accent;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
