.project-grid {
  @include display-grid;
  grid-auto-flow: column;

  .project {
    grid-column: 2 / 25;
    margin: 0;
    border-bottom: 2px solid;
    cursor: pointer;
    padding: var(--space-xs) 0;

    &:first-of-type {
      border-top: 2px solid;
    }

    a {
      display: grid;
      border: none;

      figure {
        grid-column: 1 / 26;
        align-self: center;

        .project-content {
          @include display-grid;
          position: relative;

          @include breakpoint(small only) {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
          }

          p {
            float: left;
            vertical-align: middle;
            position: relative;
            transform: translateY(-1px);

            span {
              display: inline-block;
            }
          }

          .name {
            grid-row: 1;
            grid-column: 1 / 13;
            height: fit-content;

            @include breakpoint(medium) {
              grid-column: 1 / 8;

              .icon {
                filter: grayscale(100%);
              }
            }
          }

          .image {
            grid-column: 9 / 19;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            width: 30vw;
            z-index: -1;

            @include breakpoint(small only) {
              display: none;
            }
          }

          .categories {
            grid-row: 1;
            grid-column: 18 / 26;
            justify-self: flex-end;

            @include breakpoint(medium) {
              grid-column: 10 / 26;

              p {
                display: inline-block;
                margin-right: var(--space-xs);

                &:last-of-type {
                  margin-right: 0;
                }
              }
            }

            @include breakpoint(large) {
              p {
                display: inline-block;
                margin-right: var(--space-xxs);

                span {
                  &:first-of-type {
                    padding-right: 0px;
                  }
                }
              }
            }
          }

          .year {
            grid-row: 1;
            grid-column: 20 / 26;
            text-align: right;
            display: none;

            span {
              &.foo {
                display: inline;
              }
              &.bar {
                display: none;
              }
            }
          }
        }
      }
    }

    &:hover {
      a {
        figure {
          .project-content {
            .name {
              .icon {
                filter: grayscale(0%);
              }
            }

            .image {
              opacity: 1;
            }

            .year {
              span {
                &.foo {
                  display: none;
                }
                &.bar {
                  display: inline;
                }
              }
            }
          }
        }
      }
    }
  }
}
