body {
  section {
    &.projectList {
      display: grid;
      grid-template-columns: repeat(25, 1fr);

      article {
        &.details {
          grid-column: 3 / 24;
          margin-top: $margin;
          align-items: center;
          background-color: initial;
          visibility: visible;
          opacity: 1;
          z-index: 1;
          transition: visibility 0s $easing, opacity 200ms $easing;

          .summary-block {
            position: relative;

            a {
              .imgBox {
                cursor: pointer;

                .body-text {
                  margin-top: $paddingXS;
                  display: block;

                  h1,
                  h2,
                  h3 {
                    cursor: pointer;
                    text-transform: uppercase;
                    font-weight: bold;
                    padding-right: 5px;
                  }
                }
              }
            }
          }

          &.isMini {
            grid-column: 6 / span 6;
            height: auto;

            &:nth-child(odd) {
              grid-column: 15 / span 6;
            }

            .summary-block {
              width: 100%;
              position: relative;
              align-items: center;

              .imgBox {
                &.Portrait {
                  max-width: 100%;
                }
              }
            }

            @include breakpoint(small down) {
              grid-column: 3 / 24;

              &:nth-child(odd) {
                grid-column: 3 / 24;
              }

              .summary-block {
                width: 100%;
                position: relative;
                align-items: center;

                .imgBox {
                  &.Portrait {
                    max-width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
