.project-grid {
  @include display-grid;
  grid-auto-flow: column;

  .project {
    grid-column: 1 / 26;
    border-bottom: 2px solid;
    cursor: pointer;
    padding: var(--space-xs) 0;

    &:first-of-type {
      border-top: 2px solid;
    }

    a {
      display: grid;
      grid-column: 1 / 26;
      border: none;

      figure {
        grid-column: 1 / 26;
        align-self: center;

        .project-content {
          display: flex;
          position: relative;
          align-items: center;
          justify-content: space-between;
          z-index: 0;

          p {
            position: relative;

            span {
              display: inline-block;
            }
          }

          .info {
            display: block;

            .project-icon,
            .project-title,
            .project-subtitle {
              font-size: var(--heading-sm);
              margin: 0;
              padding: 0;
              padding-top: var(--space-xxs);
              vertical-align: middle;
            }

            .project-icon,
            .project-title {
              display: none;
            }

            .project-subtitle {
              display: inline-block;
            }
          }

          .image {
            position: absolute;
            display: inline-block;
            opacity: 0;
            width: 30vw;
            z-index: 0;
            top: 0;
            right: 0;
            transition: background-color 300ms linear;
            background-color: blue;

            img {
              mix-blend-mode: darken;
              z-index: -1;
            }

            @include breakpoint(small only) {
              display: none;
            }
          }

          .categories {
            display: inline-block;
            transform: translateY(-3px);

            @include breakpoint(medium) {
              grid-column: 10 / 26;

              .number {
                display: inline-block;
                margin-right: var(--space-xs);
                margin: 0;

                &:last-of-type {
                  margin-right: 0;
                }
              }
            }

            @include breakpoint(large) {
              .number {
                display: inline-block;
                margin-right: var(--space-xxs);

                span {
                  &:first-of-type {
                    padding-right: 0px;
                  }
                  &:last-of-type {
                    display: none;
                  }
                }
              }
            }
          }

          .year {
            grid-row: 1;
            grid-column: 20 / 26;
            text-align: right;
            display: none;

            span {
              &.foo {
                display: inline;
              }
              &.bar {
                display: none;
              }
            }
          }
        }
      }
    }

    &:hover {
      * {
        color: var(--black);
      }

      a {
        figure {
          .project-content {
            .info {
              .project-icon,
              .project-title {
                display: inline-block;
              }
              .project-subtitle {
                display: none;
              }
            }

            .image {
              opacity: 1;
              background-color: transparent;
            }

            .categories {
              .number {
                span {
                  &:last-of-type {
                    display: inline-block;
                  }
                }
              }
            }

            .year {
              span {
                &.foo {
                  display: none;
                }
                &.bar {
                  display: inline;
                }
              }
            }
          }
        }
      }
    }
  }
}
