.projectOverview {
  display: grid;
  grid-template-columns: repeat(25, 1fr);

  a {
    display: inline-block;
    border-bottom: 2px solid $grey;
    padding-bottom: 4px;

    &:hover {
      border-bottom: 2px solid $black;
    }
  }

  figure {
    &.hero {
      grid-column: 2 / 16;
      grid-row: 1;
      margin-top: $margin;

      @include breakpoint(medium down) {
        grid-column: 2 / 25;
      }

      h1 {
        padding-bottom: $paddingM;
      }
    }

    &.project-grid {
      grid-row: 2;
      grid-column: 2 / 25;
      margin-top: 8vw;

      .project-item {
        width: 100%;
        a {
          border-bottom: none !important;
          transition: all 150ms $easing;

          .project-content {
            h1 {
              line-height: 1.1;
              font-size: calc(36px + 84 * (100vw - 320px) / 1680);
            }
          }

          &:hover {
            color: $accent;
          }
        }
      }
    }
  }
}
