.project-list {
  @include display-grid;

  .project {
    @include mt(x2);
    grid-column: 1 / 26;

    @include breakpoint(x-large) {
      grid-column: 2 / 25;
    }

    &:first-of-type {
      @include mt(x0);
    }

    .column {
      grid-column: 1 / 26;
      align-items: center;
      background-color: initial;
      visibility: visible;
      z-index: 1;
      pointer-events: none;
      align-items: flex-start;

      &.summary {
        a.imgBox {
          display: block;
          border-bottom: none;
          pointer-events: all;
          cursor: pointer;
          max-width: 100%;

          .image {
            @include mb(x0p25);

            img {
              height: clamp(275px, 37vw, 625px);
              object-fit: cover;
              object-position: 0% 50%;
            }
          }

          .caption {
            grid-column: 1 / 26;

            .heading {
              h2,
              h3 {
                @include m(x0);
                pointer-events: all;
              }
            }

            .body {
              p {
                &.title {
                  @include pr(x0p125);

                  &:after {
                    content: " :";
                    display: inline;
                    animation: blinker 1300ms step-start infinite;
                    padding-left: 2px;
                  }

                  @keyframes blinker {
                    50% {
                      opacity: 0;
                    }
                  }

                  @keyframes ellipsis {
                    from {
                      opacity: 0;
                      width: 0px;
                    }
                    to {
                      opacity: 1;
                      width: 20px;
                    }
                  }
                }

                code {
                  font-family: $font-tex-regular !important;
                }
              }
            }

            .tags {
              @include mt(x0p125);

              p {
                @include mr(x0p125);

                &:after {
                  @include mr(x0);
                }
              }
            }
          }
        }
      }
    }

    &.isMini {
      grid-column: 4 / 23;

      + .isMini {
        grid-column: 4 / 23;
      }

      .column {
        &.summary {
          a.imgBox {
            .image {
              @include mb(x0p25);

              img {
                height: auto;
                object-fit: cover;
                object-position: 0% 50%;
              }
            }

            .caption {
              grid-column: 1 / 26;

              .heading {
                h2,
                h3 {
                  @include m(x0);
                  pointer-events: all;
                }
              }

              .body {
                p {
                  &.title {
                    @include pr(x0p125);

                    &:after {
                      content: " :";
                      display: inline;
                      animation: blinker 1300ms step-start infinite;
                      padding-left: 2px;
                    }

                    @keyframes blinker {
                      50% {
                        opacity: 0;
                      }
                    }

                    @keyframes ellipsis {
                      from {
                        opacity: 0;
                        width: 0px;
                      }
                      to {
                        opacity: 1;
                        width: 20px;
                      }
                    }
                  }

                  code {
                    font-family: $font-tex-regular !important;
                  }
                }
              }

              .tags {
                @include mt(x0p25);
              }
            }
          }
        }
      }

      @include breakpoint(medium) {
        grid-column: 3 / span 10;

        .column {
          @include pr(x0p5);
          @include pl(x0);
        }

        + .isMini {
          grid-column: span 10 / 24;

          .column {
            @include pr(x0);
            @include pl(x0p5);
          }
        }
      }

      @include breakpoint(large) {
        grid-column: 3 / span 9;

        + .isMini {
          grid-column: span 9 / 23;
        }
      }

      @include breakpoint(x-large) {
        grid-column: 4 / span 8;

        .column {
          @include px(x0);
        }

        + .isMini {
          grid-column: span 8 / 23;

          .column {
            @include px(x0);
          }
        }
      }
    }
  }
}
