$theme-color: var(--black);
$radius: clamp(24px, 4vw, 64px);

body.project {
  .project-wrap {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 4000;
    background-color: var(--white);

    .single-project {
      grid-column: 2 / 25;
      position: relative;
      min-height: 100%;

      .loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        opacity: 1;
        z-index: 9999;
        background-color: var(--black);
        color: var(--white);
        margin: 0;
        padding: 0;

        .row.nav {
          cursor: pointer !important;
          @include display-grid;

          @include breakpoint(x-large) {
            grid-column: 2 / 25;
          }

          .column {
            margin-top: var(--space-sm);
            grid-column: 2 / 25;

            @include breakpoint(x-large) {
              grid-column: 2 / 25;
            }

            @include breakpoint(xx-large) {
              grid-column: 3 / 24;
            }

            .nav-item {
              h3 {
                text-transform: uppercase;
                display: inline-block;

                &.blinking {
                  span {
                    content: ":";
                    white-space: pre;
                    overflow: hidden;
                    display: inline-block;
                    vertical-align: bottom;
                    animation: ellipsis steps(2, end) 1000ms infinite;
                    width: 0px;
                  }
                }

                @keyframes ellipsis {
                  from {
                    width: 0px;
                  }
                  to {
                    width: 30px;
                  }
                }

                a {
                  border-bottom: transparent;
                  position: relative;
                  display: block;

                  &:hover,
                  &.router-link-exact-active {
                    h1 {
                      color: var(--white);
                    }

                    svg {
                      overflow: visible;

                      .path {
                        animation: dash 200ms cubic-bezier(0.75, 0, 0.75, 1)
                          forwards;
                      }
                    }
                  }

                  svg {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    bottom: 0;
                    width: 120%;
                    height: auto;

                    .path {
                      stroke-width: 10px;
                      stroke-dasharray: 2000;
                      stroke-dashoffset: 2000;
                    }

                    @keyframes dash {
                      from {
                        stroke-dashoffset: 2000;
                      }
                      to {
                        stroke-dashoffset: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .bar {
        position: relative;
        opacity: 0;

        &.is-loaded {
          opacity: 1;
        }

        .header {
          grid-column: 2 / 25;
          z-index: 9999;
          position: absolute;
          margin: 0;
          padding: 0;

          .nav {
            width: 100vw;
            opacity: 1;
            margin-top: var(--space-sm);

            .heading {
              grid-column: 2 / 25;
              margin: 0;

              a {
                border-bottom: none;
                cursor: pointer;

                h3 {
                  &.inverted {
                    color: var(--white) !important;
                  }

                  &:hover {
                    color: var(--black);
                  }
                }
              }

              .page-title {
                margin-left: $space-xxs;
                &.inverted {
                  color: var(--white) !important;
                }
              }

              figure {
                &.text-container {
                  @include mt(x1);
                }
              }
            }
          }
        }

        .banner {
          margin: 0 !important;
          padding: 0 !important;

          .row {
            .image {
              grid-column: 1 / 26;
              margin: 0;
              padding: 0;

              img {
                width: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                height: 50vh;

                @include breakpoint(medium) {
                  height: 110vh;
                }
              }
            }
          }
        }

        .info {
          grid-column: 2 / 25;
          background-color: initial;
          opacity: 1;
          margin-top: 0;

          .project-info {
            .body {
              grid-column: 2 / 25;
              grid-row: 2;
              margin-top: $x1;
            }

            .tag {
              grid-column: 2 / 25;
              grid-row: 3;
              margin-top: 0;

              @include breakpoint(medium) {
                grid-column: 2 / 24;
              }

              @include breakpoint(x-large) {
                grid-column: 2 / 25;
              }

              @include breakpoint(xx-large) {
                grid-column: 3 / 24;
              }
            }
          }
        }

        // Case Block
        .asset {
          .outer-margin {
            margin-top: $x1;

            .column {
              margin-bottom: 0;
            }
          }

          .quote {
            @include mt(x4);

            .row {
              @include display-grid;

              .heading {
                @include pb(x0p25);
              }

              .heading,
              .body {
                grid-column: 2 / 25;

                @include breakpoint(medium) {
                  grid-column: 4 / 23;
                }

                @include breakpoint(large) {
                  grid-column: 7 / 20;
                }

                @include breakpoint(xx-large) {
                  grid-column: 9 / 18;
                }
              }
            }
          }

          .single-img {
            .row {
              .column {
                grid-column: 2 / 25;

                @include breakpoint(x-large) {
                  grid-column: 2 / 25;
                }

                @include breakpoint(xx-large) {
                  grid-column: 3 / 24;
                }

                .content {
                  background-color: transparent;
                }

                &.website {
                  .content {
                    background-color: var(--white);
                    overflow: hidden;

                    .image {
                      img,
                      video {
                        border: 2px solid var(--black);

                        @include breakpoint(x-large) {
                          object-fit: cover;
                          object-position: top;
                          height: 50vw;
                          max-height: 45vw;
                        }
                      }
                    }

                    &:before {
                      content: "•••";
                      color: var(--white);
                      background-color: var(--black);
                      padding: 0px $x0p5;
                      font-size: clamp(6px, 3vw, 12px);
                      letter-spacing: 2px;
                      height: clamp(16px, 3vw, 34px);
                      display: block;
                      position: relative;
                      width: 100%;
                      display: flex;
                      flex-direction: row;
                      text-align: left;
                      justify-content: flex-start;
                    }

                    @include breakpoint(medium) {
                      @include py(x1);
                      @include px(x2);

                      &:before {
                        content: "○○○";
                        color: var(--white);
                        background-color: var(--black);
                        padding: 0px clamp(6px, 3vw, 12px);
                        font-size: clamp(6px, 3vw, 12px);
                        letter-spacing: 3px;
                        line-height: clamp(16px, 3vw, 34px);
                        height: clamp(16px, 3vw, 34px);
                        display: block;
                        position: relative;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        text-align: justify;
                        justify-content: flex-start;
                      }
                    }

                    @include breakpoint(large) {
                      @include px(x3);
                    }
                  }
                }

                &.device {
                  .content {
                    background-color: var(--white) !important;
                    @include px(x2);
                    @include py(x2);

                    @include breakpoint(large) {
                      @include px(x3);
                    }

                    .device-inner {
                      position: relative;

                      .image {
                        img,
                        video {
                          width: 100%;
                          height: auto;
                          border-radius: $radius;
                          border: clamp(6px, 0.6vw, 12px) solid $theme-color;
                        }
                      }
                    }
                  }
                }

                figcaption {
                  grid-column: 3 / 24;
                  padding-top: $x0p5;

                  @include breakpoint(medium) {
                    grid-column: 3 / 20;
                  }

                  @include breakpoint(large) {
                    grid-column: 4 / 13;
                  }

                  p {
                    font-size: clamp(14px, 1vw, 18px);
                    line-height: 1.45;
                    float: left;
                  }
                }
              }
            }

            &.full {
              margin-top: $space-xl;

              .row {
                .column {
                  grid-column: 1 / 26;

                  .content {
                    background-color: transparent !important;

                    .device-inner {
                      .image {
                        @include breakpoint(small only) {
                          img {
                            height: 100vw;
                            width: 100vw;
                            object-fit: cover;
                            object-position: 50% 50%;
                          }
                        }

                        img {
                          width: 100%;
                          height: auto;
                        }
                      }
                    }
                  }

                  .website {
                    background-color: var(--white);
                    overflow: hidden;

                    img,
                    video {
                      border: 2px solid var(--black);
                    }

                    &:before {
                      content: "•••";
                      color: var(--white);
                      background-color: var(--black);
                      padding: 0px $x0p5;
                      font-size: clamp(6px, 3vw, 12px);
                      letter-spacing: 2px;
                      height: clamp(16px, 3vw, 34px);
                      display: block;
                      position: relative;
                      width: 100%;
                      display: flex;
                      flex-direction: row;
                      text-align: left;
                      justify-content: flex-start;
                    }

                    @include breakpoint(medium) {
                      @include py(x1);
                      @include px(x2);

                      &:before {
                        content: "○○○";
                        color: var(--white);
                        background-color: var(--black);
                        padding: 0px clamp(6px, 3vw, 12px);
                        font-size: clamp(6px, 3vw, 12px);
                        letter-spacing: 3px;
                        line-height: clamp(16px, 3vw, 34px);
                        height: clamp(16px, 3vw, 34px);
                        display: block;
                        position: relative;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        text-align: justify;
                        justify-content: flex-start;
                      }
                    }

                    @include breakpoint(large) {
                      @include px(x3);
                    }
                  }

                  .device {
                    background-color: var(--white);
                    @include px(x2);
                    @include py(x2);

                    @include breakpoint(large) {
                      @include px(x3);
                    }

                    .device-inner {
                      position: relative;

                      .image {
                        img,
                        video {
                          width: 100%;
                          height: auto;
                          border-radius: $radius;
                          border: clamp(6px, 0.6vw, 12px) solid $theme-color;
                        }
                      }
                    }
                  }

                  figcaption {
                    grid-column: 3 / 24;
                    padding-top: $x0p5;

                    @include breakpoint(medium) {
                      grid-column: 3 / 20;
                    }

                    @include breakpoint(large) {
                      grid-column: 4 / 13;
                    }

                    p {
                      font-size: clamp(14px, 1vw, 18px);
                      line-height: 1.45;
                      float: left;
                    }
                  }
                }
              }
            }

            &.narrow {
              @include mt(x6);
              @include mb(x6);

              .row {
                .column {
                  grid-column: 2 / 25;
                  background-color: transparent;

                  @include breakpoint(medium) {
                    grid-column: 3 / 24;
                  }

                  @include breakpoint(large) {
                    grid-column: 5 / 22;
                  }

                  .content {
                    &.website {
                      background-color: var(--white);
                      overflow: hidden;

                      img,
                      video {
                        border: 2px solid var(--black);
                      }

                      &:before {
                        content: "•••";
                        color: var(--white);
                        background-color: var(--black);
                        padding: 0px $x0p5;
                        font-size: clamp(6px, 3vw, 12px);
                        letter-spacing: 2px;
                        height: clamp(16px, 3vw, 34px);
                        display: block;
                        position: relative;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        text-align: left;
                        justify-content: flex-start;
                      }

                      @include breakpoint(medium) {
                        @include py(x1);
                        @include px(x2);

                        &:before {
                          content: "○○○";
                          color: var(--white);
                          background-color: var(--black);
                          padding: 0px clamp(6px, 3vw, 12px);
                          font-size: clamp(6px, 3vw, 12px);
                          letter-spacing: 3px;
                          line-height: clamp(16px, 3vw, 34px);
                          height: clamp(16px, 3vw, 34px);
                          display: block;
                          position: relative;
                          width: 100%;
                          display: flex;
                          flex-direction: row;
                          text-align: justify;
                          justify-content: flex-start;
                        }
                      }

                      @include breakpoint(large) {
                        @include px(x3);
                      }
                    }

                    &.device {
                      background-color: var(--white);
                      @include px(x2);
                      @include py(x2);

                      @include breakpoint(large) {
                        @include px(x3);
                      }

                      .device-inner {
                        position: relative;

                        .image {
                          img,
                          video {
                            width: 100%;
                            height: auto;
                            border-radius: $radius;
                            border: clamp(6px, 0.6vw, 12px) solid $theme-color;
                          }
                        }
                      }
                    }

                    figcaption {
                      grid-column: 3 / 24;
                      padding-top: $x0p5;

                      @include breakpoint(medium) {
                        grid-column: 3 / 20;
                      }

                      @include breakpoint(large) {
                        grid-column: 4 / 13;
                      }

                      p {
                        font-size: clamp(14px, 1vw, 18px);
                        line-height: 1.45;
                        float: left;
                      }
                    }
                  }
                }
              }
            }
          }

          .video {
            .row {
              .column {
                grid-column: 2 / 25;

                @include breakpoint(x-large) {
                  grid-column: 2 / 25;
                }

                @include breakpoint(xx-large) {
                  grid-column: 3 / 24;
                }

                .content {
                  background-color: transparent;
                }

                &.website {
                  .content {
                    background-color: var(--white);
                    overflow: hidden;

                    .image {
                      img,
                      video {
                        border: 2px solid var(--black);

                        @include breakpoint(x-large) {
                          object-fit: cover;
                          object-position: top;
                          height: 50vw;
                          max-height: 45vw;
                        }
                      }
                    }

                    &:before {
                      content: "•••";
                      color: var(--white);
                      background-color: var(--black);
                      padding: 0px $x0p5;
                      font-size: clamp(6px, 3vw, 12px);
                      letter-spacing: 2px;
                      height: clamp(16px, 3vw, 34px);
                      display: block;
                      position: relative;
                      width: 100%;
                      display: flex;
                      flex-direction: row;
                      text-align: left;
                      justify-content: flex-start;
                    }

                    @include breakpoint(medium) {
                      @include py(x1);
                      @include px(x2);

                      &:before {
                        content: "○○○";
                        color: var(--white);
                        background-color: var(--black);
                        padding: 0px clamp(6px, 3vw, 12px);
                        font-size: clamp(6px, 3vw, 12px);
                        letter-spacing: 3px;
                        line-height: clamp(16px, 3vw, 34px);
                        height: clamp(16px, 3vw, 34px);
                        display: block;
                        position: relative;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        text-align: justify;
                        justify-content: flex-start;
                      }
                    }

                    @include breakpoint(large) {
                      @include px(x3);
                    }
                  }
                }

                &.device {
                  .content {
                    background-color: var(--white) !important;
                    @include px(x2);
                    @include py(x2);

                    @include breakpoint(large) {
                      @include px(x3);
                    }

                    .device-inner {
                      position: relative;

                      .image {
                        img,
                        video {
                          width: 100%;
                          height: auto;
                          border-radius: $radius;
                          border: clamp(6px, 0.6vw, 12px) solid $theme-color;
                        }
                      }
                    }
                  }
                }

                figcaption {
                  grid-column: 3 / 24;
                  padding-top: $x0p5;

                  @include breakpoint(medium) {
                    grid-column: 3 / 20;
                  }

                  @include breakpoint(large) {
                    grid-column: 4 / 13;
                  }

                  p {
                    font-size: clamp(14px, 1vw, 18px);
                    line-height: 1.45;
                    float: left;
                  }
                }
              }
            }
          }

          .image-text {
            .row {
              display: grid;
              grid-template-columns: repeat(8, 1fr);
              grid-column-gap: $x1;
              @include px(x1);

              @include breakpoint(medium) {
                @include px(x2);
              }

              @include breakpoint(large) {
                @include px(x3);
              }

              @include breakpoint(x-large) {
                @include px(x3);
                grid-column-gap: $x2;
              }

              figure {
                grid-auto-columns: auto;
                grid-column: span 4;
                // @include px(x0);
              }

              .image {
                align-self: stretch;

                @include breakpoint(small only) {
                  @include mb(x0p25);
                }

                @include breakpoint(large) {
                  padding-right: $x0p5;
                }

                img {
                  align-self: flex-start;
                }
              }

              .text {
                .text-container {
                  h2 {
                    padding-bottom: $x0p5;
                  }
                }
              }
            }
          }

          .double-img {
            margin-top: $space-lg;
            margin-bottom: $space-xl;

            .row {
              display: grid;
              grid-template-columns: repeat(8, 1fr);
              grid-column-gap: $x1;

              @include breakpoint(medium) {
                @include px(x2);
              }

              @include breakpoint(large) {
                @include px(x3);
              }

              @include breakpoint(x-large) {
                @include px(x4);
              }

              .column {
                grid-auto-columns: auto;
                grid-column: span 4;
                @include px(x0);

                .image {
                  @include mb(x1);
                }
              }
            }

            &.full {
              .row {
                @include px(x1);

                .column {
                  grid-auto-columns: auto;
                  grid-column: span 4;
                  @include px(x0);

                  .image {
                    @include mb(x1);
                  }
                }
              }
            }
          }

          .triple-img {
            @include px(x0);

            .row {
              grid-column: 2 / 25;

              .column {
                grid-column: 2 / 25;

                @include breakpoint(small only) {
                  @include px(x0);

                  .content {
                    position: relative;
                    background-color: var(--white);
                    grid-column: unset;
                    display: flex;
                    overflow-x: auto;
                    scroll-snap-type: x mandatory;
                    scroll-padding: 0 0 0 $x4;
                    scroll-behavior: smooth;
                    @include px(x1);
                    @include py(x2);

                    .image {
                      scroll-snap-align: start;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      position: relative;
                      min-width: 225px;
                      width: 40vw;
                      @include mr(x2);

                      &:first-of-type {
                        @include ml(x1);
                      }

                      &:last-of-type {
                        @include mr(x0);
                      }

                      .device-inner {
                        &.device {
                          background-color: $theme-color;
                          border-radius: $radius;
                          position: relative;

                          .notch {
                            position: absolute;
                            top: clamp(6px, 0.6vw, 12px);
                            left: 50%;
                            width: clamp(64px, 9vw, 112px);
                            height: clamp(12px, 2vw, 20px);
                            background-color: var(--black);
                            border-radius: 0 0 calc(#{$radius} / 3)
                              calc(#{$radius} / 3);
                            transform: translateX(-50%);
                            z-index: 9999;

                            &::before,
                            &::after {
                              content: "";
                              position: absolute;
                              top: 0;
                              left: -4px;
                              width: 8px;
                              height: 4px;
                              background-size: 50% 100%;
                              background-repeat: no-repeat;
                              background-image: radial-gradient(
                                circle at 0 100%,
                                transparent 4px,
                                var(--black) 4px
                              );
                            }

                            &::after {
                              left: 100%;
                              margin-right: 4px;
                              background-image: radial-gradient(
                                circle at 100% 100%,
                                transparent 4px,
                                var(--black) 4px
                              );
                            }
                          }

                          img {
                            border-radius: $radius;
                            border: clamp(8px, 0.6vw, 12px) solid var(--black);
                          }
                        }
                      }
                    }

                    &:after {
                      content: "";
                      border-right: $x2 solid transparent;
                    }
                  }
                }

                @include breakpoint(medium) {
                  .content {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    background-color: var(--white);
                    grid-column: 2 / 25;
                    grid-template-areas: "a b c";
                    grid-gap: $x1;
                    grid-auto-flow: column;
                    overflow: hidden;
                    position: relative;
                    @include px(x2);
                    @include py(x2);

                    .image {
                      justify-items: center;
                      align-items: center;
                      position: relative;
                      width: auto;

                      &:first-of-type {
                        grid-area: a;
                      }

                      &:nth-of-type(2) {
                        grid-area: b;
                        margin: 0 auto;
                      }

                      &:last-of-type {
                        grid-area: c;
                        margin-left: auto;
                      }

                      .device-inner {
                        &.device {
                          background-color: $theme-color;
                          border-radius: $radius;
                          position: relative;

                          .notch {
                            position: absolute;
                            top: clamp(6px, 0.6vw, 12px);
                            left: 50%;
                            width: clamp(64px, 9vw, 112px);
                            height: clamp(12px, 2vw, 20px);
                            background-color: var(--black);
                            border-radius: 0 0 calc(#{$radius} / 3)
                              calc(#{$radius} / 3);
                            transform: translateX(-50%);
                            z-index: 9999;

                            &::before,
                            &::after {
                              content: "";
                              position: absolute;
                              top: 0;
                              left: -4px;
                              width: 8px;
                              height: 4px;
                              background-size: 50% 100%;
                              background-repeat: no-repeat;
                              background-image: radial-gradient(
                                circle at 0 100%,
                                transparent 4px,
                                var(--black) 4px
                              );
                            }

                            &::after {
                              left: 100%;
                              margin-right: 4px;
                              background-image: radial-gradient(
                                circle at 100% 100%,
                                transparent 4px,
                                var(--black) 4px
                              );
                            }
                          }

                          img {
                            border-radius: $radius;
                            border: clamp(8px, 0.6vw, 12px) solid var(--black);
                          }
                        }
                      }
                    }

                    &:after {
                      display: none;
                    }
                  }
                }

                @include breakpoint(x-large) {
                  grid-column: 2 / 25;
                }

                @include breakpoint(xx-large) {
                  grid-column: 3 / 24;
                }
              }
            }
          }

          .image-carousel {
            margin-top: $space-md;
            margin-bottom: $space-md;

            .row {
              display: grid;
              grid-template-columns: repeat(1, auto) !important;

              &:last-of-type {
                margin-top: 0;
              }

              .carousel-inner {
                position: relative;
                margin-bottom: $x1;

                .swiper-container {
                  overflow-x: hidden;
                  width: 100vw;
                  height: auto;

                  .swiper-wrapper {
                    width: 100vw;

                    .swiper-slide {
                      cursor: move; /* fallback if grab cursor is unsupported */
                      cursor: grab;
                      width: auto;
                      height: auto;
                      margin-left: $x2;

                      @include breakpoint(medium) {
                        @include pr(x1);
                      }

                      &:active {
                        cursor: grabbing !important;
                      }

                      .image {
                        img {
                          height: 100%;
                          width: auto;
                          height: clamp(355px, 45vw, 775px);
                        }
                      }

                      &:first-of-type {
                        @include ml(x0);
                      }

                      &:last-of-type {
                        @include pr(x0p5);

                        @include breakpoint(large) {
                          @include pr(x1);
                        }
                      }
                    }

                    &:after {
                      content: "";
                      width: $x1;
                      display: block;
                    }
                  }
                }

                .carousel-button-prev,
                .carousel-button-next {
                  position: absolute;
                  top: 0%;
                  bottom: 0%;
                  left: 0;
                  width: 30%;
                  height: 100%;
                  margin: 0;
                  padding: 0;
                  z-index: 1000 !important;
                  cursor: pointer;
                  display: block;
                  align-items: center;
                  justify-content: center;
                }

                .carousel-button-prev {
                  cursor: url("data:image/svg+xml,%3Csvg width='48' height='33' viewBox='0 0 48 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6078 0L0 16.5L16.6078 33L19.8118 29.8521L8.68658 18.799H48V14.201H8.68658L19.8118 3.16559L16.6078 0Z' fill='black'/%3E%3C/svg%3E%0A"),
                    pointer;
                  position: absolute;
                  left: 0;
                  right: auto;
                }

                .carousel-button-next {
                  cursor: url("data:image/svg+xml,%3Csvg width='48' height='33' viewBox='0 0 48 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.3922 33L48 16.5L31.3922 0L28.1882 3.14791L39.3134 14.201H0V18.799H39.3134L28.1882 29.8344L31.3922 33Z' fill='black'/%3E%3C/svg%3E%0A"),
                    pointer;
                  position: absolute;
                  right: 0;
                  left: auto;
                }
              }

              .pagination {
                grid-column: 1 / 2;

                .carousel-pagination {
                  text-align: right;
                  @include font-size(18px, 30px);
                  padding-right: $x1;

                  span {
                    &.swiper-pagination-current,
                    &.swiper-pagination-total {
                      letter-spacing: -3px;
                      font-weight: normal;
                    }
                  }
                }
              }
            }
          }
        }

        .meta {
          @include mt(x3);

          .row {
            .column {
              grid-column: 2 / 25;

              @include breakpoint(x-large) {
                grid-column: 2 / 25;
              }

              @include breakpoint(xx-large) {
                grid-column: 3 / 24;
              }

              &.props {
                margin: 0;
                p {
                  span {
                    display: inline;
                  }
                }
              }

              &.date {
                @include mt(x0p5);
                p {
                  span {
                    display: inline;
                  }
                }
              }
            }
          }
        }

        .button {
          margin-top: $space-xl;
          padding-bottom: $x1;

          .row {
            .column {
              margin: 0;
              position: relative;
              grid-column: 2 / 25;

              a {
                border: none;

                &:hover {
                  span {
                    color: var(--red);
                  }
                }
              }
            }
          }
        }

        .similar {
          margin: 0;
          padding-bottom: $space-md;

          .row {
            @include display-grid;

            .similar-list {
              position: relative;
              grid-column: 2 / 25;
              grid-row: 1;
              z-index: 9999;
              @include mt(x2);

              @include breakpoint(medium) {
                @include mt(x1);
              }

              @include breakpoint(x-large) {
                grid-column: 2 / 25;
              }

              @include breakpoint(xx-large) {
                grid-column: 3 / 24;
              }

              p.title {
                @include pb(x0p5);
                grid-column: 2 / 25;
              }

              ul {
                list-style: none;
                @include p(x0);
                @include m(x0);

                li {
                  display: flex;
                  flex-wrap: wrap;
                  flex-direction: row;
                  justify-content: flex-start;
                  width: 100%;
                  list-style: none !important;

                  a {
                    border: none;

                    .list-item {
                      display: flex;
                      flex-wrap: wrap;
                      flex-direction: row;
                      width: 100vw;
                      justify-content: flex-start;
                      align-items: flex-end;

                      .heading {
                        float: left;

                        .title {
                          transform: translateX(-3px);
                          @include font-size(72px, 144px);
                          line-height: 0.8;
                        }
                      }

                      .tags {
                        float: left;
                        transform: translateY(-1rem);
                        @include ml(x0p125);

                        @include breakpoint(small only) {
                          display: none;
                        }
                      }
                    }
                  }

                  &:hover {
                    .tags {
                      p {
                        background-color: var(--black);
                        border-color: var(--black);
                        color: var(--white);
                      }
                    }
                  }
                }

                &.isOpen {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
