section.projectList {
  figure {
    padding-bottom: $md;

    &.ongoing {
      padding-top: 0;
    }

    &.projects {
      padding-top: $sm;
    }

    details {
      border-bottom: solid 2px;

      &:first-of-type {
        border-top: solid 2px;
      }

      summary {
        cursor: pointer;
        position: relative !important;
        z-index: 999;
        position: sticky;

        h2 {
          padding-top: $xs / 2;
          padding-bottom: $xs / 1.5;
          margin: 0;
          opacity: 1;
          float: left;

          span {
            &.dot {
              opacity: 0;
              display: block;
              position: absolute;
              color: $accent;
              font-size: 0.5em;
              transform: translateX(-$sm, 60%);
            }

            &.title {
              max-width: 80vw;
              padding-left: 0;

              @include respond-to("sm") {
                max-width: 65vw;
              }
            }
          }

          &:hover {
            color: $accent;

            span {
              &.dot {
                opacity: 1;
                transform: translate(0px, 60%);
              }

              &.title {
                padding-left: $xs * 1.5;
              }
            }
          }

          &.togl {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            &:before {
              content: "Open";
              font-size: 20px;
              vertical-align: middle;
              padding-right: $xs / 2;

              @include respond-to("sm") {
                content: none;
              }
            }
            &:after {
              content: "↘";
              font-size: 20px;
              vertical-align: middle;
            }
          }
        }

        &.coming {
          position: relative;
          cursor: not-allowed;

          h2 {
            color: rgba($black, 0.6);
            &.title {
              max-width: 70vw;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          div {
            &.soon {
              float: right;
              height: 24px;
              width: 24px;
              margin-right: 8px;
              transform: rotate(0deg) translateY(80%);
              transform-origin: center center;
              transition: all 150ms $easing;

              img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }

              @include respond-to("sm") {
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }

      .content {
        padding-top: $sm;
        padding-bottom: $sm;

        @include respond-to("sm") {
          padding-top: 0;
        }

        .meta {
          margin-bottom: $xs;

          h3 {
            margin-bottom: initial;
          }

          p {
            margin-bottom: $xs;

            @include respond-to("sm") {
              padding-right: 0;
            }

            span {
              display: block;
            }

            &.tag {
              span {
                color: rgba($black, $alpha: 0.5);
              }
            }

            &.status {
              &:before {
                color: rgba($black, $alpha: 0.5);
                content: "Status ↘";
                padding-right: 5px;
                padding-right: 5px;
              }
            }

            &.category {
              &:before {
                color: rgba($black, $alpha: 0.5);
                content: "Work ↘";
                padding-right: 5px;
              }
            }
          }
        }

        .description {
          margin-bottom: $xs;

          @include respond-to("sm") {
            margin-bottom: $xs;
          }
        }

        .img-container {
          margin-top: $md;
          margin-bottom: $md;
          .text {
            padding-top: $md;
            padding-bottom: $lg;

            h3 {
              margin-bottom: $sm;
            }
          }

          .double {
            padding-top: $lg;
          }

          img {
            padding-bottom: $sm;

            &.space {
              padding-top: $lg;
              padding-bottom: $lg;
            }

            @include respond-to("sm") {
              padding-bottom: $xs;
            }
          }
        }
      }

      &[open] {
        summary {
          position: sticky !important;
          top: 10px;

          h2 {
            span {
              &.dot {
                opacity: 1;
                transform: translate(0px, 50%);
              }

              &.title {
                padding-left: $xs * 1.5;

                @include respond-to("sm") {
                  padding-left: $xs * 1.5;
                }
              }
            }

            &.togl {
              &:before {
                content: "Close";

                @include respond-to("sm") {
                  content: none;
                }
              }
              &:after {
                content: "×";
                font-size: 1em;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }
}
