body.page-single {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden;

  .project-wrap {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 4000;
    background-color: var(--white);

    .single-project {
      grid-column: 1 / 26;
      position: relative;
      min-height: 100%;

      .loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        opacity: 1;
        z-index: 9999;
        background-color: var(--black);
        color: var(--grey);
        margin: 0;
        padding: 0;

        .row.nav {
          cursor: pointer !important;
          @include display-grid;

          @include breakpoint(x-large) {
            grid-column: 1 / 26;
          }

          .column {
            margin-top: var(--space-sm);
            grid-column: 1 / 26;

            @include breakpoint(x-large) {
              grid-column: 1 / 26;
            }

            .nav-item {
              h3 {
                display: inline-block;
                padding-left: var(--x0p5);

                &.blinking {
                  span {
                    content: ":";
                    white-space: pre;
                    overflow: hidden;
                    display: inline-block;
                    vertical-align: bottom;
                    animation: ellipsis steps(2, end) 1000ms infinite;
                    width: 0px;
                  }
                }

                @keyframes ellipsis {
                  from {
                    width: 0px;
                  }
                  to {
                    width: 30px;
                  }
                }

                a {
                  border-bottom: transparent;
                  position: relative;
                  display: block;

                  &:hover,
                  &.router-link-exact-active {
                    h1 {
                      color: var(--grey);
                    }

                    svg {
                      overflow: visible;

                      .path {
                        animation: dash 200ms cubic-bezier(0.75, 0, 0.75, 1)
                          forwards;
                      }
                    }
                  }

                  svg {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    bottom: 0;
                    width: 120%;
                    height: auto;

                    .path {
                      stroke-width: 10px;
                      stroke-dasharray: 2000;
                      stroke-dashoffset: 2000;
                    }

                    @keyframes dash {
                      from {
                        stroke-dashoffset: 2000;
                      }
                      to {
                        stroke-dashoffset: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .bar {
        position: relative;
        opacity: 0;
        padding-bottom: var(--x3);

        &.is-loaded {
          opacity: 1;
        }

        .topNav {
          grid-column: 1 / 26;
          z-index: 1;
          position: fixed;
          top: 0;
          left: 0;
          cursor: pointer;

          .nav {
            width: 100vw;
            opacity: 1;
            margin-top: var(--space-sm);

            .heading {
              grid-column: 1 / 26;
              margin: 0;

              h3 {
                cursor: pointer;
                color: var(--white);
                color: blue;

                &.inverted {
                  color: var(--grey);
                  color: blue;
                }

                &:hover {
                  color: blue;
                }
              }

              .page-title {
                margin-left: var(--space-xs);
                &.inverted {
                  //color: var(--grey) !important;
                }
              }

              figure {
                &.text-container {
                  @include mt(x1);
                }
              }
            }
          }
        }

        .banner {
          position: relative;
          z-index: 99;
          height: 50vh;

          @include breakpoint(large) {
            height: 100vh;
          }

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            object-fit: cover;
            z-index: -1;
            object-position: 50% 50%;
            height: 50vh;

            @include breakpoint(large) {
              height: 100vh;
            }
          }

          .row {
            &.nav {
              grid-column: 1 / 26;
              z-index: 9999;
              top: 0;
              padding-top: var(--space-sm);
              padding-left: var(--x0p5);
              mix-blend-mode: multiply;
              position: sticky;

              .column {
                grid-column: 1 / 26;
                margin: 0;

                h3 {
                  cursor: pointer;
                  color: var(--black);
                  margin: 0 !important;

                  &.inverted {
                    color: var(--black);
                  }

                  &.page-title {
                    padding-left: var(--space-xs);
                  }
                }
                figure {
                  &.text-container {
                    @include mt(x1);
                  }
                }
              }
            }

            .image {
              grid-column: 1 / 26;
              margin: 0;
              padding: 0;

              img {
                width: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                height: 50vh;

                @include breakpoint(x-large) {
                  height: 100vh;
                }
              }
            }
          }
        }

        .info {
          margin-top: var(--space-md);
          padding-bottom: var(--space-lg);

          .info-block {
            .header {
              grid-row: 1;
              grid-column: 1 / 26;
              padding-bottom: var(--space-md);

              @include breakpoint(medium) {
                grid-column: 1 / 6;
                padding-bottom: 0;
              }
            }

            .main {
              grid-row: 2;
              grid-column: 1 / 26;

              .header {
                margin: 0;
                padding: 0;

                h3 {
                  margin-bottom: var(--space-sm);
                  margin-right: 0;

                  @include breakpoint(medium) {
                    margin-bottom: var(--space-md);
                  }

                  p {
                    margin: 0;
                    &:not(:first-of-type) {
                      display: none;
                      font-size: var(--paragraph);
                      line-height: var(--paragraph-lh);
                    }
                  }
                }
              }

              @include breakpoint(medium) {
                grid-row: 1;
                grid-column: 7 / 26;
              }

              .body {
                @include display-grid;
                margin: 0;
                padding: 0;

                .legend {
                  grid-column: 1 / 10;
                  grid-row: 1;

                  .header {
                    margin-bottom: var(--space-xs);
                  }

                  .number {
                    display: flex;
                    align-content: flex-start;

                    p {
                      margin-bottom: var(--space-xxs);
                      &.num {
                        font-family: "Badd Nums", "Inter", sans-serif;
                        transform: scale(1.65) translateY(2px);
                        transform-origin: center center;
                      }

                      &.type {
                        float: left;
                        padding-left: var(--space-xs);
                      }
                    }

                    @include breakpoint(medium) {
                      grid-row: 1;
                      grid-column: 1 / 8;
                    }
                  }
                }

                .copy {
                  grid-row: 2;
                  grid-column: 1 / 26;
                  padding-bottom: var(--space-sm);

                  @include breakpoint(medium) {
                    grid-row: 1;
                    grid-column: 8 / 26;
                  }

                  h3 {
                    p {
                      font-size: var(--paragraph);
                      line-height: var(--paragraph-lh);

                      &:first-of-type {
                        display: none;
                      }
                    }
                  }
                }
              }

              .link {
                grid-row: 3;
                grid-column: 1 / 26;

                @include breakpoint(medium) {
                  grid-column: 8 / 26;
                }
              }
            }
          }
        }

        // Case Block
        .modular-block {
          @include display-grid;
          .outer-margin {
            margin-bottom: var(--x1);
            grid-column: 1 / 26;

            .row {
              .column {
                margin-bottom: 0;
                grid-column: 1 / 26;
              }
            }
          }

          .quote {
            padding: var(--space-lg) 0;

            .row {
              @include display-grid;

              .body {
                grid-column: 1 / 26;

                @include breakpoint(medium) {
                  grid-column: 5 / 22;
                }

                @include breakpoint(large) {
                  grid-column: 7 / 20;
                }
              }
            }
          }

          .single-img {
            .row {
              .column {
                &.website {
                  padding: var(--x2) var(--x3);
                  background-color: var(--sand);

                  .content {
                    background-color: var(--grey);
                    overflow: hidden;

                    .image {
                      img,
                      video {
                        border: 2px solid var(--black);

                        @include breakpoint(x-large) {
                          object-fit: cover;
                          object-position: top;
                          height: 50vw;
                          max-height: 45vw;
                        }
                      }
                    }

                    &:before {
                      content: "•••";
                      color: var(--grey);
                      background-color: var(--black);
                      padding: 0px var(--x0p5);
                      font-size: clamp(6px, 3vw, 12px);
                      letter-spacing: 2px;
                      height: clamp(16px, 3vw, 34px);
                      display: block;
                      position: relative;
                      width: 100%;
                      display: flex;
                      flex-direction: row;
                      text-align: left;
                      justify-content: flex-start;
                    }

                    @include breakpoint(medium) {
                      &:before {
                        content: "○○○";
                        color: var(--grey);
                        background-color: var(--black);
                        padding: 0px clamp(6px, 3vw, 12px);
                        font-size: clamp(6px, 3vw, 12px);
                        letter-spacing: 3px;
                        line-height: clamp(16px, 3vw, 34px);
                        height: clamp(16px, 3vw, 34px);
                        display: block;
                        position: relative;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        text-align: justify;
                        justify-content: flex-start;
                      }
                    }
                  }
                }

                &.device {
                  .content {
                    background-color: var(--grey) !important;
                    padding: var(--x2);

                    @include breakpoint(large) {
                      padding: var(--x3);
                    }

                    .device-inner {
                      position: relative;

                      .image {
                        img,
                        video {
                          width: 100%;
                          height: auto;
                          border-radius: var(--radius);
                          border: clamp(6px, 0.6vw, 12px) solid var(--black);
                        }
                      }
                    }
                  }
                }

                figcaption {
                  grid-column: 1 / 26;
                  padding-top: var(--x0p5);

                  p {
                    font-size: var(--paragraph-small);
                    line-height: 1.45;
                    float: left;
                  }
                }
              }
            }

            &.full {
              grid-column: 1 / 26;
              padding-top: var(--x3);
              padding-bottom: var(--x3);

              .row {
                margin: 0;

                .column {
                  grid-column: 1 / 26;

                  .content {
                    background-color: transparent !important;

                    .device-inner {
                      .image {
                        @include breakpoint(small only) {
                          img {
                            height: 100vw;
                            width: 100vw;
                            object-fit: cover;
                            object-position: 50% 50%;
                          }
                        }

                        img {
                          width: 100%;
                          height: auto;
                        }
                      }
                    }
                  }

                  .website {
                    background-color: var(--grey);
                    overflow: hidden;

                    img,
                    video {
                      border: 2px solid var(--black);
                    }

                    &:before {
                      content: "•••";
                      color: var(--grey);
                      background-color: var(--black);
                      padding: 0px var(--x0p5);
                      font-size: clamp(6px, 3vw, 12px);
                      letter-spacing: 2px;
                      height: clamp(16px, 3vw, 34px);
                      display: block;
                      position: relative;
                      width: 100%;
                      display: flex;
                      flex-direction: row;
                      text-align: left;
                      justify-content: flex-start;
                    }

                    @include breakpoint(medium) {
                      @include py(x1);
                      @include px(x2);

                      &:before {
                        content: "○○○";
                        color: var(--grey);
                        background-color: var(--black);
                        padding: 0px clamp(6px, 3vw, 12px);
                        font-size: clamp(6px, 3vw, 12px);
                        letter-spacing: 3px;
                        line-height: clamp(16px, 3vw, 34px);
                        height: clamp(16px, 3vw, 34px);
                        display: block;
                        position: relative;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        text-align: justify;
                        justify-content: flex-start;
                      }
                    }

                    @include breakpoint(large) {
                      @include px(x3);
                    }
                  }

                  .device {
                    background-color: var(--grey);
                    @include px(x2);
                    @include py(x2);

                    @include breakpoint(large) {
                      @include px(x3);
                    }

                    .device-inner {
                      position: relative;

                      .image {
                        img,
                        video {
                          width: 100%;
                          height: auto;
                          border-radius: var(--radius);
                          border: clamp(6px, 0.6vw, 12px) solid var(--black);
                        }
                      }
                    }
                  }

                  figcaption {
                    grid-column: 3 / 24;
                    padding-top: var(--x0p5);

                    @include breakpoint(medium) {
                      grid-column: 3 / 20;
                    }

                    @include breakpoint(large) {
                      grid-column: 4 / 13;
                    }

                    p {
                      font-size: clamp(14px, 1vw, 18px);
                      line-height: 1.45;
                      float: left;
                    }
                  }
                }
              }
            }

            &.narrow {
              .row {
                .column {
                  grid-column: 1 / 26;
                  background-color: transparent;

                  @include breakpoint(medium) {
                    grid-column: 4 / 23;
                  }

                  @include breakpoint(large) {
                    grid-column: 6 / 21;
                  }

                  .content {
                    &.website {
                      background-color: var(--grey);
                      overflow: hidden;

                      img,
                      video {
                        border: 2px solid var(--black);
                      }

                      &:before {
                        content: "•••";
                        color: var(--grey);
                        background-color: var(--black);
                        padding: 0px var(--x0p5);
                        font-size: clamp(6px, 3vw, 12px);
                        letter-spacing: 2px;
                        height: clamp(16px, 3vw, 34px);
                        display: block;
                        position: relative;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        text-align: left;
                        justify-content: flex-start;
                      }

                      @include breakpoint(medium) {
                        padding: var(--x1) var(--x2);

                        &:before {
                          content: "○○○";
                          color: var(--grey);
                          background-color: var(--black);
                          padding: 0px clamp(6px, 3vw, 12px);
                          font-size: clamp(6px, 3vw, 12px);
                          letter-spacing: 3px;
                          line-height: clamp(16px, 3vw, 34px);
                          height: clamp(16px, 3vw, 34px);
                          display: block;
                          position: relative;
                          width: 100%;
                          display: flex;
                          flex-direction: row;
                          text-align: justify;
                          justify-content: flex-start;
                        }
                      }

                      @include breakpoint(large) {
                        padding: var(--x1) var(--x3);
                      }
                    }

                    &.device {
                      background-color: var(--grey);
                      padding: var(--x2);

                      @include breakpoint(large) {
                        padding: var(--x3);
                      }

                      .device-inner {
                        position: relative;

                        .image {
                          img,
                          video {
                            width: 100%;
                            height: auto;
                            border-radius: var(--radius);
                            border: clamp(6px, 0.6vw, 12px) solid var(--black);
                          }
                        }
                      }
                    }

                    figcaption {
                      grid-column: 3 / 24;
                      padding-top: var(--x0p5);

                      p {
                        font-size: var(--paragraph-small);
                        float: left;
                      }
                    }
                  }
                }
              }
            }
          }

          .video {
            .row {
              .column {
                grid-column: 1 / 26;

                .content {
                  background-color: transparent;
                }

                figcaption {
                  grid-column: 1 / 26;
                  padding-top: var(--x0p5);

                  p {
                    font-size: var(--paragraph-small);
                    float: left;
                  }
                }
              }
            }
          }

          .image-text {
            .row {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-column-gap: var(--x0p5);

              @include breakpoint(medium) {
                grid-column-gap: var(--x3);
              }

              .column {
                grid-auto-columns: auto;
                grid-column: span 1;

                &.image {
                  padding-left: var(--x2);
                  padding-right: 0;
                }

                &.text {
                  padding-left: 0;
                  padding-right: var(--x2);
                }

                .image {
                  @include breakpoint(small only) {
                    padding-bottom: var(--space-sm);
                  }
                }
              }
            }
          }

          .double-img {
            margin-top: var(--x3);
            margin-bottom: var(--x3);
            .row {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-column-gap: var(--x0p5);

              @include breakpoint(medium) {
                grid-column-gap: var(--x3);
              }

              .column {
                grid-auto-columns: auto;
                grid-column: span 1;

                &.left-image {
                  padding-left: var(--x2);
                  padding-right: 0;
                }

                &.right-image {
                  padding-left: 0;
                  padding-right: var(--x2);
                }

                .image {
                  @include breakpoint(small only) {
                    padding-bottom: var(--space-sm);
                  }
                }
              }
            }

            &.full {
              .row {
                .column {
                  grid-auto-columns: auto;
                  grid-column: span 1;

                  &.left-image {
                    margin: 0;
                    padding-left: 0;
                    padding-right: 0;
                  }

                  &.right-image {
                    margin: 0;
                    padding-left: 0;
                    padding-right: 0;
                  }

                  .image {
                    @include breakpoint(small only) {
                      padding-bottom: var(--space-sm);
                    }
                  }
                }
              }
            }
          }

          .triple-img {
            grid-column: 1 / 26;
            overflow-x: visible;
            padding: 0;

            ::-webkit-scrollbar {
              display: none;
            }

            .row {
              .column {
                grid-column: 1 / 26;

                @include breakpoint(small only) {
                  overflow-x: visible;
                  .content {
                    position: relative;
                    grid-column: unset;
                    display: flex;
                    overflow-x: auto;
                    scroll-snap-type: x mandatory;
                    scroll-padding: 0 0 0 var(--x1p5);
                    scroll-behavior: smooth;
                    padding: var(--x2) var(--x1p5);

                    .image {
                      scroll-snap-align: start;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      position: relative;
                      min-width: 225px;
                      width: 40vw;
                      margin-right: var(--x2);

                      &:first-of-type {
                        margin-left: var(--x1);
                      }

                      &:last-of-type {
                        margin-right: 0 !important;
                      }

                      .device-inner {
                        &.device {
                          background-color: var(--black);
                          border-radius: var(--radius);
                          position: relative;

                          .notch {
                            position: absolute;
                            top: 0vw;
                            left: 50%;
                            width: 16vw;
                            height: 3.5vw;
                            background-color: var(--black);
                            border-radius: 0 0 calc(#{var(--radius)} / 3)
                              calc(#{var(--radius)} / 3);
                            transform: translateX(-50%);
                            z-index: 9999;

                            &::before,
                            &::after {
                              content: "";
                              position: absolute;
                              top: 0;
                              left: -4px;
                              width: 8px;
                              height: 4px;
                              background-size: 50% 100%;
                              background-repeat: no-repeat;
                              background-image: radial-gradient(
                                circle at 0 100%,
                                transparent 4px,
                                var(--black) 4px
                              );
                            }

                            &::after {
                              left: 100%;
                              margin-right: 4px;
                              background-image: radial-gradient(
                                circle at 100% 100%,
                                transparent 4px,
                                var(--black) 4px
                              );
                            }
                          }

                          img {
                            border-radius: var(--radius);
                            border: var(--device-border);
                          }
                        }
                      }
                    }

                    &:after {
                      content: "";
                      border-right: $x1p5 solid transparent;
                    }
                  }
                }

                @include breakpoint(medium) {
                  .content {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    background-color: var(--grey);
                    grid-column: 1 / 26;
                    grid-template-areas: "a b c";
                    grid-gap: var(--x2);
                    grid-auto-flow: column;
                    overflow: hidden;
                    position: relative;
                    padding: var(--x2);

                    .image {
                      justify-items: center;
                      align-items: center;
                      position: relative;
                      width: auto;

                      &:first-of-type {
                        grid-area: a;
                      }

                      &:nth-of-type(2) {
                        grid-area: b;
                        margin: 0 auto;
                      }

                      &:last-of-type {
                        grid-area: c;
                        margin-left: auto;
                      }

                      .device-inner {
                        &.device {
                          background-color: var(--black);
                          border-radius: var(--radius);
                          position: relative;

                          .notch {
                            position: absolute;
                            top: clamp(6px, 0.6vw, 12px);
                            left: 50%;
                            width: clamp(64px, 9vw, 112px);
                            height: clamp(12px, 2vw, 20px);
                            background-color: var(--black);
                            border-radius: 0 0 calc(#{var(--radius)} / 3)
                              calc(#{var(--radius)} / 3);
                            transform: translateX(-50%);
                            z-index: 9999;

                            &::before,
                            &::after {
                              content: "";
                              position: absolute;
                              top: 0;
                              left: -4px;
                              width: 8px;
                              height: 4px;
                              background-size: 50% 100%;
                              background-repeat: no-repeat;
                              background-image: radial-gradient(
                                circle at 0 100%,
                                transparent 4px,
                                var(--black) 4px
                              );
                            }

                            &::after {
                              left: 100%;
                              margin-right: 4px;
                              background-image: radial-gradient(
                                circle at 100% 100%,
                                transparent 4px,
                                var(--black) 4px
                              );
                            }
                          }

                          img {
                            border-radius: var(--radius);
                            border: var(--device-border);
                          }
                        }
                      }
                    }

                    &:after {
                      display: none;
                    }
                  }
                }
              }
            }
          }

          .image-carousel {
            @include display-grid;
            margin-top: var(--space-lg);
            margin-bottom: var(--space-lg);
            grid-column: 1 / 26;
            padding-left: 0;
            padding-right: 0;
            margin: var(--space-lg) 0;

            .row {
              grid-column: 1 / 26;
              margin: 0;

              &.swiper {
                grid-column: 1 / 26;
                padding-top: 0;
                padding-bottom: var(--space-sm);

                .carousel-block {
                  position: relative;
                  grid-column: 1 / 26;
                  grid-row: 3;

                  .carousel {
                    position: relative;
                    grid-column: 1 / 26;
                    width: 100%;
                    height: 100%;
                    margin-left: 0;

                    .swiper-container {
                      position: relative;
                      grid-column: 1 / 26;
                      width: 100%;

                      .swiper-wrapper {
                        transition-timing-function: ease-out !important;
                        transition-duration: 300ms !important;

                        .swiper-slide {
                          width: var(--slide-width);
                          margin-left: var(--x1);
                          padding-right: var(--x0p5);

                          .slide-img {
                            width: 100%;
                            height: auto;

                            img {
                              width: 100%;
                              height: auto;
                              margin: 0;
                            }
                          }
                        }
                      }
                    }

                    .swiper-button-prev,
                    .swiper-button-next {
                      display: block;
                      position: absolute;
                      top: 0;
                      bottom: 20%;
                      width: 30%;
                      height: 80%;
                      margin: 0;
                      margin: 0;
                      z-index: 500 !important;
                      cursor: pointer;
                      display: block;
                      align-items: center;
                      justify-content: center;

                      &:after {
                        display: none;
                      }

                      @include breakpoint(small only) {
                        display: none;
                      }
                    }

                    .swiper-button-prev {
                      cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='100' height='120' viewport='0 0 100 100' style='fill:black;font-size:60px;'><text y='50%'>👈🏻</text></svg>")
                          24 16,
                        auto !important;
                      position: absolute;
                      left: 0;
                      right: auto;
                    }

                    .swiper-button-next {
                      cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='100' height='120' viewport='0 0 100 100' style='fill:black;font-size:60px;'><text y='50%'>👉🏻</text></svg>")
                          24 16,
                        auto !important;
                      position: absolute;
                      right: 0;
                      left: auto;
                    }
                  }
                }
              }

              &.content {
                grid-column: 1 / 26;
                position: relative;

                * {
                  color: red !important;
                }

                .counter {
                  position: relative;
                  margin-top: var(--x1);
                  padding-top: var(--space-sm);

                  .swiper-pagination {
                    &.swiper-pagination-fraction {
                      text-align: left;
                      font-size: var(--heading-sm);

                      span {
                        &.swiper-pagination-current,
                        &.swiper-pagination-total {
                          display: inline-block;
                          letter-spacing: 0px;
                          font-weight: 400;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .meta {
          .row {
            .props {
              grid-column: 1 / 26;
              margin: 0;

              @include breakpoint(x-large) {
                grid-column: 1 / 26;
              }

              p.role {
                margin: 0;

                span {
                  display: inline;
                }
              }
            }
          }
        }
      }
    }
  }
}
