section.projectList {
  figure {
    padding-bottom: $md;

    &.ongoing {
      padding-top: 0;
    }

    &.projects {
      padding-top: $sm;
    }

    details {
      border-bottom: solid 2px;

      &:first-of-type {
        border-top: solid 2px;
      }

      summary {
        cursor: pointer;
        position: relative !important;
        z-index: 999;
        position: sticky;

        h2 {
          padding-top: $xs / 2;
          padding-bottom: $xs / 1.5;
          margin: 0;
          opacity: 1;
          float: left;

          span {
            &.dot {
              opacity: 0;
              display: block;
              position: absolute;
              color: $accent;
              font-size: 0.5em;
              transform: translateX(-$sm, 60%);
            }

            &.title {
              max-width: 80vw;
              padding-left: 0;

              @include respond-to("sm") {
                max-width: 80vw;
              }
            }
          }

          &:hover {
            color: $accent;

            span {
              &.dot {
                opacity: 1;
                transform: translate(0px, 60%);
              }

              &.title {
                padding-left: $sm;
              }
            }

            @include respond-to("sm") {
              &.title {
                padding-left: 0;
              }
            }
          }

          &.togl {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            &:before {
              content: "Open";
              font-size: 20px;
              vertical-align: middle;
              padding-right: $xs / 2;

              @include respond-to("sm") {
                content: none;
              }
            }
            &:after {
              content: "↘";
              font-size: 20px;
              vertical-align: middle;
            }
          }
        }
      }

      .content {
        padding-top: $sm;
        padding-bottom: $sm;

        @include respond-to("sm") {
          padding-top: 0;
        }

        .meta {
          h3 {
            margin-bottom: initial;
          }

          p {
            margin-bottom: $xs;

            @include respond-to("sm") {
              padding-right: 0;
            }

            span {
              display: block;
            }

            &.tag {
              span {
                color: rgba($black, $alpha: 0.5);
              }
            }

            &.status {
              &:before {
                color: rgba($black, $alpha: 0.5);
                content: "Status ↘";
                padding-right: 5px;
                padding-right: 5px;
              }
            }

            &.category {
              &:before {
                color: rgba($black, $alpha: 0.5);
                content: "Work ↘";
                padding-right: 5px;
              }
            }
          }
        }

        .description {
          margin-bottom: $xs;

          @include respond-to("sm") {
            margin-bottom: $xs;
          }
        }

        .masonry {
          div {
            margin-bottom: $sm;
          }
        }

        .img-container {
          margin-top: $md;
          margin-bottom: -$sm;

          @include respond-to("sm") {
            margin-top: $sm;
            margin-bottom: $sm;
          }

          .text {
            padding-top: $md;
            padding-bottom: $lg;

            h3 {
              margin-bottom: $sm;
            }
          }

          .double {
            padding-top: $lg;
          }

          img {
            padding-bottom: $sm;

            &[lazy="loaded"] {
              opacity: 0;
              animation-name: img-fade;
              animation-delay: 250ms;
              animation-duration: 500ms;
              animation-iteration-count: 1;
              animation-fill-mode: forwards;
              animation-direction: normal;
              animation-timing-function: linear;

              @keyframes img-fade {
                0% {
                  opacity: 0;
                  transform: translateY(25px);
                }
                100% {
                  opacity: 1;
                  transform: translateY(0px);
                }
              }
            }

            &.space {
              padding-top: $lg;
              padding-bottom: $lg;
            }

            @include respond-to("sm") {
              padding-bottom: $xs;
            }
          }
        }
      }

      &[open] {
        summary {
          position: sticky !important;
          top: 10px;

          h2 {
            span {
              &.dot {
                opacity: 1;
                transform: translate(0px, 60%);
              }

              &.title {
                padding-left: $sm;

                @include respond-to("sm") {
                  padding-left: $xs * 1.5;
                }
              }
            }

            &.togl {
              &:before {
                content: "Close";

                @include respond-to("sm") {
                  content: none;
                }
              }
              &:after {
                content: "×";
                font-size: 1em;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }
}
