.stories {
  display: grid;
  grid-template-columns: repeat(25, 1fr);

  .story-title {
    grid-column: 2 / 25;
    margin-top: $space-xl;
    padding-bottom: $space-sm;

    .heading {
      margin-bottom: $space-md;

      h1 {
        margin: 0;
        padding: 0;
      }

      .ticker {
        display: block;
        position: relative;
        width: 200vw;
        overflow-x: visible;
        white-space: nowrap;
        animation: scroll 40s linear infinite;

        h2 {
          display: inline-block;
          margin-right: $space-sm;
        }

        @keyframes scroll {
          0% {
            left: 25vw;
          }
          100% {
            left: -175vw;
          }
        }
      }
    }
  }

  .story-list {
    grid-column: 2 / 25;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $x1;
    margin-top: 0;

    @include breakpoint(medium) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include breakpoint(large) {
      grid-template-columns: repeat(6, 1fr);
    }

    @include breakpoint(x-large) {
      grid-template-columns: repeat(8, 1fr);
    }

    @include breakpoint(xx-large) {
      grid-column: 3 / 24;
    }

    .story {
      grid-auto-columns: auto;
      grid-column: span 2;
      order: -1;
      margin-bottom: $space-lg;

      .column {
        display: block;

        .storyImage {
          display: inline-block;
          margin-bottom: $space-xs;
        }

        .body {
          p {
            code {
              font-family: $font-tex-regular !important;
            }
          }
        }
      }
    }
  }
}
