.intro {
  .row {
    .header {
      grid-column: 1 / 26;
      align-self: flex-end;
      margin-bottom: var(--space-md);

      .highlight,
      .highlight p {
        color: var(--red);
        cursor: pointer;
      }

      .fadeOut {
        color: var(--black);
      }

      h2 {
        margin-bottom: var(--space-xs);
      }

      .tagline {
        grid-column: 2 / 23;
        transition: all 50ms var(--easing);
        font-size: var(--paragraph-small);
        opacity: 0.5;

        span {
          &.icon {
            padding-left: 0;
            display: inline-block;
          }
        }

        &.highlight {
          span {
            opacity: 1;
            color: var(--black);
            &.icon {
              color: var(--red);
            }
          }
        }
      }

      @media (hover: hover) {
        pointer-events: all;
      }

      h1,
      h2 {
        pointer-events: none;
        display: block;
        transition: any 50ms var(--easing);

        .audio {
          pointer-events: all;
          display: inline-block;
          transition: any 50ms var(--easing);

          cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🔈</text></svg>")
              16 0,
            auto;

          sup {
            color: var(--red) !important;
          }
        }

        &:hover {
          pointer-events: none;
          color: rgba(var(--red), $alpha: 0.15) !important;

          .audio {
            opacity: 1;
            pointer-events: all;
            color: var(--red) !important;

            sup {
              font-weight: 400;
              color: var(--red) !important;
            }
          }

          &:after {
            opacity: 1;
            color: var(--red) !important;
          }
        }
      }
    }
  }
}

.banner {
  margin-top: 0;
  padding: 0;

  .row {
    .media {
      grid-column: 1 / 26;
      position: relative;

      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
    }
  }
}

.services {
  padding-bottom: var(--space-lg);
  margin-top: var(--space-md);

  .row {
    .header {
      grid-row: 1;
      grid-column: 1 / 26;
      padding-bottom: var(--space-md);

      @include breakpoint(medium) {
        grid-column: 1 / 8;
        padding-bottom: 0;

        h3,
        p {
          max-width: 14vw;
          line-height: 1;
        }
      }

      @include breakpoint(x-large) {
        grid-column: 1 / 10;
      }
    }

    .main {
      grid-row: 2;
      grid-column: 1 / 26;

      h3 {
        margin-bottom: var(--space-md);
        margin-right: 0;

        sup {
          font-family: "Badd Nums", "Inter", sans-serif;
          display: inline-block;
          font-size: 75%;
          width: 1.25vw;
          transform: translateY(4px);
        }
      }

      @include breakpoint(medium) {
        grid-row: 1;
        grid-column: 8 / 26;
      }

      @include breakpoint(x-large) {
        grid-row: 1;
        grid-column: 10 / 26;
      }

      .body {
        @include display-grid;

        .legend {
          grid-column: 1 / 26;
          grid-row: 1;

          p {
            display: inline-block;
            color: grey;

            &:first-of-type {
              margin-bottom: var(--space-sm);
            }

            @include breakpoint(medium) {
              display: block;
            }

            span {
              &:first-of-type {
                font-family: "Badd Nums", "Inter", sans-serif;
                display: inline-block;
                transform: translateY(4px);
              }
            }
          }

          @include breakpoint(medium) {
            grid-row: 1;
            grid-column: 1 / 8;
          }
        }

        .copy {
          grid-row: 2;
          grid-column: 1 / 26;

          @include breakpoint(medium) {
            grid-row: 1;
            grid-column: 8 / 26;
          }

          p {
            &:not(:last-of-type) {
              margin-bottom: var(--space-sm);
            }
          }
        }
      }

      .inline-link {
        display: none;

        @include breakpoint(large) {
          display: block;
        }

        p {
          @include pb(x0);
        }
      }
    }

    .link {
      grid-row: 3;
      grid-column: 1 / 26;

      @include breakpoint(large) {
        grid-column: 14 / 26;
        display: none;
      }
    }
  }
}

.people {
  grid-column: 1 / 26;
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);

  .row {
    grid-template-columns: repeat(25, 1fr);

    .header {
      grid-row: 1;
      grid-column: 1 / 26;
      padding-bottom: var(--space-md);

      @include breakpoint(medium) {
        grid-column: 1 / 8;
        padding-bottom: 0;

        h3,
        p {
          max-width: 14vw;
          line-height: 1;
        }
      }

      @include breakpoint(x-large) {
        grid-column: 1 / 10;
        padding-bottom: 0;

        h3,
        p {
          max-width: 14vw;
          line-height: 1;
        }
      }
    }

    .team {
      grid-column: 1 / 26;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: var(--x0p5);
      margin-bottom: var(--space-md);

      @include breakpoint(medium) {
        grid-row: 1;
        grid-column: 8 / 26;
      }

      @include breakpoint(x-large) {
        grid-row: 1;
        grid-column: 10 / 26;
      }

      .person {
        grid-row: 2;
        margin-bottom: var(--space-sm);
        align-self: flex-start;

        @include breakpoint(medium) {
          grid-row: 1;
          margin-bottom: 0;
        }

        .media {
          margin-bottom: var(--space-xs);
          display: block;
        }

        .meta {
          h3 {
            margin-bottom: var(--space-xxs);
          }
          @include breakpoint(small only) {
            p,
            a > p {
              font-size: var(--paragraph-small);
            }
          }
        }

        .title {
          padding-bottom: var(--space-xxs);
        }

        &:nth-child(even) {
          grid-column: span 2;
        }

        &:nth-child(odd) {
          grid-column: span 2;
        }
      }
    }

    .body {
      grid-column: 1 / 26;
      grid-row: 3;

      @include breakpoint(medium) {
        grid-row: 2;
        grid-column: 8 / 26;
      }

      @include breakpoint(x-large) {
        grid-row: 2;
        grid-column: 10 / 26;
      }

      p {
        grid-column: 1 / 26;

        &:not(:last-of-type) {
          margin-bottom: var(--space-sm);
        }
      }
    }
  }
}
