.section {
  .row {
    @include display-grid;

    .body {
      grid-column: 2 / 25;
    }
  }
}

.intro {
  .row {
    .header {
      grid-column: 2 / 25;
      align-self: flex-end;
      margin-bottom: var(--space-md);

      @include breakpoint(x-large) {
        grid-column: 2 / 23;
      }

      .highlight,
      .highlight p {
        color: var(--red);
        cursor: pointer;
      }

      .fadeOut {
        color: var(--black);
      }

      h2 {
        margin-bottom: var(--space-xs);
      }

      .tagline {
        grid-column: 2 / 23;
        transition: all 50ms var(--easing);
        font-size: var(--body-small);
        opacity: 0.25;

        span {
          &.icon {
            padding-left: 0;
            display: inline-block;
          }
        }

        &.highlight {
          span {
            opacity: 1;
            color: var(--black);
            &.icon {
              color: var(--red);
            }
          }
        }
      }

      @media (hover: hover) {
        pointer-events: all;
      }

      h1,
      h2 {
        pointer-events: none;
        display: block;
        transition: any 50ms var(--easing);

        .audio {
          pointer-events: all;
          display: inline-block;
          transition: any 50ms var(--easing);

          cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🔈</text></svg>")
              16 0,
            auto;

          strong {
            font-weight: 400;
            color: var(--red);
          }
        }

        &:hover {
          pointer-events: none;
          color: rgba(var(--black), $alpha: 0.15);

          .audio {
            opacity: 1;
            pointer-events: all;
            color: var(--red);

            strong {
              font-weight: 400;
              color: var(--red);
            }
          }

          &:after {
            opacity: 1;
            color: var(--red);
          }
        }
      }
    }
  }
}

.image {
  margin-top: 0;
  padding: 0;

  .row {
    .image {
      grid-column: 1 / 26;
      position: relative;

      img {
        width: 100%;
        height: 80vh;
        object-fit: cover;
      }
    }
  }
}

.services {
  padding-bottom: var(--space-lg);
  margin-top: var(--space-md);

  .row {
    .header {
      grid-row: 1;
      grid-column: 2 / 25;
      padding-bottom: var(--space-md);

      @include breakpoint(medium) {
        grid-column: 2 / 7;
        padding-bottom: 0;
      }

      @include breakpoint(large) {
        grid-column: 2 / 11;
      }
    }

    .main {
      grid-row: 2;
      grid-column: 2 / 25;

      h3 {
        margin-bottom: var(--space-md);
        margin-right: 0;

        sup {
          position: relative;
          display: inline;
          font-size: var(--body-small);
          font-weight: 600;
          padding-left: 3px;
          color: var(--red);
        }
      }

      @include breakpoint(medium) {
        grid-row: 1;
        grid-column: 7 / 25;
      }

      @include breakpoint(large) {
        grid-row: 1;
        grid-column: 10 / 25;
      }

      .body {
        @include display-grid;

        .legend {
          grid-column: 1 / 26;
          grid-row: 1;

          p {
            display: inline-block;
            color: grey;
            margin-right: var(--space-sm);

            &:first-of-type {
              color: var(--black);
              margin-bottom: var(--space-sm);
              margin-right: 0;
            }

            @include breakpoint(medium) {
              display: block;
            }
          }

          @include breakpoint(medium) {
            grid-row: 1;
            grid-column: 1 / 8;
          }
        }

        .copy {
          grid-row: 2;
          grid-column: 1 / 26;

          @include breakpoint(medium) {
            grid-row: 1;
            grid-column: 8 / 26;
          }

          p {
            &:not(:last-of-type) {
              margin-bottom: var(--space-xs);
            }
          }
        }
      }

      .inline-link {
        display: none;

        @include breakpoint(large) {
          display: block;
        }

        p {
          @include pb(x0);
        }
      }
    }

    .link {
      grid-row: 3;
      grid-column: 2 / 25;

      @include breakpoint(large) {
        grid-column: 14 / 26;
        display: none;
      }
    }
  }
}

.people {
  grid-column: 2 / 25;
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);

  .row {
    grid-template-columns: repeat(25, 1fr);

    .header {
      grid-row: 1;
      grid-column: 2 / 25;
      padding-bottom: var(--space-md);

      @include breakpoint(medium) {
        grid-row: 1 / 2;
        grid-column: 2 / 7;
        padding-bottom: 0;
      }

      @include breakpoint(large) {
        grid-column: 2 / 9;
      }
    }

    .team {
      grid-column: 2 / 25;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--x1p5);
      margin-bottom: var(--space-md);

      @include breakpoint(medium) {
        column-gap: var(--x1);
        grid-column: 10 / 25;
      }

      .person {
        grid-row: 2;
        margin-bottom: var(--space-sm);
        align-self: flex-start;

        @include breakpoint(medium) {
          grid-row: 1;
        }

        .image {
          padding-bottom: var(--space-xxs);
          margin: 0;
        }

        .title {
          padding-bottom: var(--space-xxs);
        }

        &:nth-child(even) {
          grid-column: span 1;
        }

        &:nth-child(odd) {
          grid-column: span 1;
        }
      }
    }

    .body {
      grid-column: 2 / 25;
      grid-row: 3;

      @include breakpoint(medium) {
        grid-row: 2;
        grid-column: 10 / 25;
      }

      p {
        grid-column: 2 / 25;

        &:not(:last-of-type) {
          margin-bottom: var(--space-sm);
        }
      }
    }
  }
}
