.xyz {
  @include display-grid;
  margin-top: var(--space-sm);

  p {
    @include font-size(18px, 22px);
    line-height: 1.25;
  }

  .xyz-grid {
    grid-column: 2 / 25;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--x1);
    row-gap: var(--x1);
    align-items: center;
    justify-items: center;

    @include breakpoint(medium) {
      grid-template-columns: repeat(6, 1fr);
    }

    @include breakpoint(x-large) {
      grid-template-columns: repeat(9, 1fr);
    }

    .xyz-item {
      position: relative;
      margin-bottom: var(--space-md);
      grid-column: span 3;
      max-width: 90%;

      @include breakpoint(medium) {
        max-width: 80%;
      }

      @include breakpoint(x-large) {
        max-width: none;
      }

      .column {
        padding: 0;

        .body {
          p {
            color: var(--red);
          }
        }

        .xyzImage {
          display: block;
          justify-self: unset;

          img {
            width: 100%;
            height: auto;
            margin-bottom: var(--space-xs);
          }
        }
      }
    }
  }
}
