.xyz {
  @include display-grid;
  margin-top: var(--space-sm);

  p,
  p > p {
    font-size: var(--paragraph-small);
    line-height: 1.25;
  }

  .grid {
    grid-column: 1 / 26;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--x1p5);
    row-gap: var(--x1p5);
    align-items: center;
    justify-items: center;

    @include breakpoint(medium) {
      grid-template-columns: repeat(6, 1fr);
    }

    @include breakpoint(large) {
      grid-template-columns: repeat(9, 1fr);
    }

    .item {
      position: relative;
      margin-bottom: var(--space-md);
      grid-column: span 3;
      max-width: 90%;

      @include breakpoint(medium) {
        max-width: 80%;
      }

      @include breakpoint(x-large) {
        max-width: none;
      }

      .column {
        padding: 0;

        .media {
          margin-bottom: var(--space-xs);
        }

        .body {
          p {
            color: var(--red);
          }
        }
      }
    }
  }
}
