* {
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  vertical-align: baseline;
}

body {
  font-family: $font-texgyro;
  font-size: 16px;
  color: $black;
  background-color: $white;
  overflow-x: hidden;
  scroll-behavior: smooth; 

  &.active {
    overflow-y: hidden;

    ::-webkit-scrollbar {
      display: none;
    }
  }
}
