* {
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  font-family: sans-serif;
  line-height: 1.2;
  font-size: 16px;
  vertical-align: baseline;
}

body {
  height: 100%;
  font-size: $font-sm;
  background-color: $color-white;
  color: $color-black;
  transition: $animate-bg;
}
