img {
  display: inline-block;
  border: 0;
  vertical-align: middle;
  height: auto;
  width: 100%;
}

video {
  width: 100%;
  height: auto;
  display: inline-block;
  border: 0;
}

img.fade {
  opacity: 0;
  filter: blur(4.5px);
  transition: all 300ms var(--easing);
  transition-delay: 300ms;

  &.in-viewport {
    filter: blur(0px);
    opacity: 1;
  }
}

img[lazy="loaded"] {
  animation: fadeIn 300ms var(--easing);
  animation-delay: 300ms;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
