img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

video {
  width: 100%;
  height: auto;
}

img[lazy="loaded"] {
  animation: fadeIn 200ms $easing;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrow {
  transform: translateY(8px);
  margin-right: 16px;
}
