img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

video {
  width: 100%;
  height: auto;
}

img[lazy="loaded"] {
  animation: fadeIn 300ms $easing;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(16px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
