nav ol,
nav ul {
  list-style: none;
  padding-left: 0;
}

ul,
ol {
  list-style: square;
  padding-left: $space-xs;
}

.tags {
  h3,
  p {
    padding: 4px 24px 9px;
    border: 2px solid var(--black);
    border-radius: 44px;
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 17px;
    transition: all 200ms linear;
  }
}

h2,
h3,
p {
  &.number {
    line-height: 1.2;
    position: relative;

    span {
      &:first-of-type {
        font-family: "Badd Nums", "Inter", sans-serif;
        font-size: 130%;
        line-height: 0.75;
        transform: translateY(0.5vw);
        display: inline-block;
        padding-right: var(--space-xs);

        @include breakpoint(small only) {
          transform: translateY(1.75vw);
        }
      }
    }
  }
}
