// THEMES //
body {
  transition: background-color 200ms $easing, color 200ms $easing;
  will-change: background-color, color;

  &.home {
    background-color: var(--color-page-background);
    color: var(--color-text);
  }

  &.overview {
    background-color: $sand;

    .logo {
      svg {
        path {
          fill: $black;
        }
      }
    }

    * {
      color: $black;

      &:hover {
        color: $accent !important;
      }
    }
  }

  &.about {
    color: $grey;
    background-color: $black;

    .logo {
      svg {
        fill: $accent !important;
      }
    }

    a,
    p a {
      color: $grey;
      border-color: $grey;
      display: inline-block;
      &:hover {
        color: $grey;
        border-color: transparent;
      }
    }

    & > & {
      &:hover {
        color: inherit;
      }
    }
  }
}

article {
  & > * + * {
    margin: 0;
  }
}
