table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

caption {
  font-family: Georgia, sans-serif;
  margin-bottom: 0.4rem;
  text-align: left;
}

th,
td {
  border-top: 2px solid var(--white);
  vertical-align: top;
  padding-right: 0.25em;
}

th + *,
td + * {
  border-left: 2px solid var(--white);
  padding-left: 0.25em;
}
