body {
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "calt", "dlig", "liga", "ss02";
  font-feature-settings: "case" on, "kern" off;
}

// Headings
body,
em,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
strong {
  margin: 0;
  padding: 0;
  font-size: unset;
  font-weight: normal;
  color: inherit;
  letter-spacing: -0.6px;
  word-spacing: -0.2px;
}

.markdown {
  white-space: pre-line;
}

h1,
h1.markdown p {
  font-size: clamp(48px, 7.2vw, 100px);
  line-height: 1.1;
}

h2,
h2.markdown p {
  font-size: clamp(32px, 4.9vw, 72px);
  line-height: 1.15;
}

h3,
h3.markdown p {
  font-size: clamp(28px, 3.2vw, 56px);
  line-height: 1.35;
}

p,
p.markdown p {
  font-size: clamp(20px, 2vw, 24px);
  line-height: 1.45;
}

a {
  color: $black;
  position: relative;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: all 150ms $easing;

  display: inline;
  &.text-link {
    box-shadow: 0px -2px 0px $grey inset;
    transition: all 150ms $easing;

    &:hover {
      color: $black;
      box-shadow: 0px -2px 0px $accent inset;
    }
  }

  &:hover {
    color: $black;
  }

  &:active {
    color: $black;
  }

  &:focus {
    outline: none;
    color: $black;
  }

  @media (hover: hover) {
    a {
      &:hover,
      &:active,
      &:focus {
        color: $black;
      }
    }
  }
}

.heading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;

    &.link {
      padding-bottom: 2px;
      box-shadow: 0px -2px 0px $gray inset;
    }

    &.body {
      text-transform: none;
      line-height: 1.25;
    }

    &.title {
      display: inline-block;
      font-family: $font-tex-cond;
      line-height: 1;
      text-transform: uppercase;
    }

    &.subtitle {
      color: $grey !important;
      font-family: $font-tex-cond;
      padding-bottom: $x0p125;
      line-height: 1;
      text-transform: uppercase;
    }
  }
}

.arrow {
  font-family: "Inter", sans-serif;
}

strong {
  font-weight: bolder;
}
