* {
  margin: 0;
  padding: 0;
}

body {
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "calt", "dlig", "liga", "ss02";
  font-feature-settings: "case" on, "kern" off;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: inherit;
  letter-spacing: -0.85px;
  word-spacing: -0.6px;
  vertical-align: baseline;
}

h1,
h1.markdown > p {
  // font-family: $font-tex-cond;
  // line-height: 1;
  // @include font-size(48px, 96px);

  font-family: $font-tex-regular;
  @include font-size(32px, 96px);
  line-height: 1;
  padding: 0;

  &.big {
    font-family: $font-tex-cond;
    @include font-size(78px, 208px);
    line-height: 1;
  }

  &.outlined {
    color: transparent !important;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $black;
  }
}

h2,
h2.markdown > p {
  line-height: 1.2;
  @include font-size(28px, 72px);
}

h3,
h3.markdown > p {
  @include font-size(24px, 56px);
  line-height: 1.3;
  margin-bottom: $space-md;

  &:last-of-type {
    margin-bottom: 0;
  }
}

p,
p.markdown > p {
  @include font-size(20px, 30px);
  line-height: 1.3;
}

a {
  color: $black;
  border-bottom: 2px solid $black;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $black;
    border-color: transparent;
  }

  &:focus {
    outline: none;
  }

  span {
    & > * {
      text-decoration: none !important;
    }
  }

  @media (hover: hover) {
    a {
      &:hover,
      &:active,
      &:focus {
        color: $black;
      }
    }
  }
}

// Heading Styles
.heading {
  h1,
  h2,
  h3 {
    &.title {
      font-family: $font-tex-cond;
      font-weight: 400;
      text-transform: uppercase;
      padding-bottom: $space-sm;

      p {
        font-family: $font-tex-cond;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}

.arrow {
  font-family: "Inter", sans-serif;
}

strong {
  font-weight: bolder;
}

small {
  @include font-size(18px, 26px);
  line-height: 1;
}

// Body styles

// .body,
// p.body,
// p.markdown {
//   ul {
//     padding-bottom: $space-xs;

//     @include breakpoint(large) {
//       padding-bottom: $space-md;
//     }

//     @include breakpoint(x-large) {
//       padding-bottom: $space-lg;
//     }
//   }

//   p {
//     padding-bottom: $space-md;

//     &:only-of-type {
//       padding-bottom: $space-md;

//       &:last-of-type {
//         padding-bottom: $space-md;
//       }
//     }

//     &:last-of-type {
//       padding-bottom: 0;
//     }
//   }

//   &.title {
//     opacity: 0.5;
//   }
// }
