* {
  margin: 0;
  padding: 0;
}

body {
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "calt", "dlig", "liga", "ss02";
  font-feature-settings: "case" on, "kern" off;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: inherit;
  letter-spacing: -1.5px;
  word-spacing: -0.3px;
  vertical-align: baseline;
}

h1,
h1.markdown > p {
  font-family: $font-tex-cond;
  line-height: 1;
  padding: 0;
  @include font-size(48px, 112px);
}

h2,
h2.markdown > p {
  font-family: $font-tex-cond;
  line-height: 1;
  @include font-size(40px, 72px);
}

h3,
h3.markdown > p {
  font-family: $font-tex-cond;
  line-height: 1;
  @include font-size(32px, 48px);
}

p,
p.markdown > p {
  @include font-size(18px, 26px);
  line-height: 1.4;
}

// Link styles

a {
  color: $black;
  border-bottom: 2px solid $black;
  text-decoration: none;
  transition: border 100ms $easing;

  &:hover,
  &:focus,
  &:active {
    color: $black;
    border-color: transparent;
  }

  &:focus {
    outline: none;
  }

  span {
    & > * {
      text-decoration: none !important;
    }
  }

  @media (hover: hover) {
    a {
      &:hover,
      &:active,
      &:focus {
        color: $black;
      }
    }
  }
}

// Heading Styles
.heading {
  h1,
  h2,
  h3 {
    &.title {
      font-family: $font-tex-cond;
      font-weight: 400;
      text-transform: uppercase;
      padding-bottom: $space-sm;
      line-height: 0.9;
    }
    &.title p {
      font-family: $font-tex-cond;
      font-weight: 400;
      text-transform: uppercase;
      padding-bottom: $space-sm;
      line-height: 0.9;
    }
  }
}

.arrow {
  font-family: "Inter", sans-serif;
}

strong {
  font-weight: bolder;
}

small {
  size: 80%;
  font-family: $font-tex-bold;
}

// Body styles

.body,
p.body,
p.markdown {
  ul {
    padding-bottom: $space-xs;

    @include breakpoint(large) {
      padding-bottom: $space-md;
    }

    @include breakpoint(x-large) {
      padding-bottom: $space-lg;
    }
  }

  p {
    padding-bottom: $space-sm;

    p:last-of-type {
      padding-bottom: 0;
    }
  }

  &.title {
    opacity: 0.5;
  }
}
