//  -----------------------------
//  Site-specific settings
//  -----------------------------

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
  font-display: auto;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
    font-display: auto;
  }
}

@font-face {
  font-family: "Sneak Regular";
  src: local("Custom Font"), url("/fonts/Sneak-Regular.woff2") format("woff2"),
    url("/fonts/Sneak-Regular.woff") format("woff"),
    url("/fonts/Sneak-Regular.eof") format("eof");
  font-weight: normal;
  font-style: normal;
  font-display: block; /* Read next point */
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}

@font-face {
  font-family: "TeXGyreHeros";
  src: url("/fonts/TeXGyreHeros-Regular.woff2") format("woff2"),
    url("/fonts/TeXGyreHeros-Regular.woff") format("woff"),
    url("/fonts/TeXGyreHeros-Regular.svg#TeXGyreHeros-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}

@font-face {
  font-family: "TeXGyreHerosBold";
  src: url("/fonts/TeXGyreHeros-Bold.woff2") format("woff2"),
    url("/fonts/TeXGyreHeros-Bold.woff") format("woff"),
    url("/fonts/TeXGyreHeros-Bold.svg#TeXGyreHeros-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: block;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}

@font-face {
  font-family: "TeXGyreHerosCond";
  src: url("/fonts/TeXGyreHerosCondensed-Regular.woff2") format("woff2"),
    url("/fonts/TeXGyreHerosCondensed-Regular.woff") format("woff"),
    url("/fonts/TeXGyreHerosCondensed-Regular.svg#TeXGyreHerosCondensed-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}

@font-face {
  font-family: "TeXGyreHerosConBold";
  src: url("/fonts/TeXGyreHerosCondensed-Bold.woff2") format("woff2"),
    url("/fonts/TeXGyreHerosCondensed-Bold.woff") format("woff"),
    url("/fonts/TeXGyreHerosCondensed-Bold.svg#TeXGyreHerosCondensed-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: block;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}

// Colors
:root {
  --red: #ff4f3e;
  --black: #17171c;
  --sand: #ddd9d5;
  --white: #f8f8f8;

  --font-inter: "Inter", Helvetica, sans-serif;
  --font-tex-regular: "TeXGyreHeros", "Inter", sans-serif;
  --font-tex-bold: "TeXGyreHerosBold", "Inter", sans-serif;
  --font-tex-cond: "TeXGyreHerosCond", "Inter", sans-serif;
  --font-tex-cond-bold: "TeXGyreHerosCondBold", "Inter", sans-serif;

  --easing: cubic-bezier(0.75, 0, 0.25, 1);

  // Font Sizes
  --heading-lg: clamp(72px, 10.75vw, 192px);
  --heading-md: clamp(40px, 5.5vw, 96px);
  --heading-sm: clamp(27px, 3vw, 48px);
  --body: clamp(20px, 1.8vw, 32px);
  --body-small: clamp(16px, 1.3vw, 20px);

  // Verical Space
  --space-xxs: clamp(2px, 1vw, 4px);
  --space-xs: clamp(8px, 1.5vw, 12px);
  --space-sm: clamp(16px, 2.5vw, 32px);
  --space-md: clamp(24px, 7.4vw, 40px);
  --space-lg: clamp(72px, 10vw, 144px);
  --space-xl: clamp(144px, 25vw, 320px);

  // Grid Space
  --x0p125: calc(100vw * 0.125 / 25);
  --x0p25: calc(100vw * 0.25 / 25);
  --x0p5: calc(100vw * 0.5 / 25);
  --x0p75: calc(100vw * 0.75 / 25);
  --x1: calc(100vw * 1 / 25);
  --x1p5: calc(100vw * 1.5 / 25);
  --x2: calc(100vw * 2 / 25);
  --x3: calc(100vw * 3 / 25);
  --x4: calc(100vw * 4 / 25);
  --x5: calc(100vw * 5 / 25);
  --x6: calc(100vw * 6 / 25);
  --x7: calc(100vw * 7 / 25);
  --x8: calc(100vw * 8 / 25);
  --x9: calc(100vw * 9 / 25);
  --x10: calc(100vw * 10 / 25);

  // Other shit
  --radius: clamp(32px, 3vw, 48px);
  --device-border: clamp(8px, 0.6vw, 16px) solid var(--black);
}

// Spacing
$space-xxs: clamp(2px, 0.125vw, 8px);
$space-xs: clamp(8px, 2vw, 16px);
$space-sm: clamp(24px, 4vw, 48px);
$space-md: clamp(40px, 6vw, 72px);
$space-lg: clamp(72px, 10vw, 144px);
$space-xl: clamp(96px, 25vw, 288px);

// Foundation gutters
$grid-padding-gutters: 1.25rem;
$grid-margin-gutters: 2.5rem;

// Padding Increments
$x0: 0;
$x0p125: calc(100vw * 0.125 / 25);
$x0p25: calc(100vw * 0.25 / 25);
$x0p5: calc(100vw * 0.5 / 25);
$x0p75: calc(100vw * 0.75 / 25);
$x1: calc(100vw * 1 / 25);
$x1p5: calc(100vw * 1.5 / 25);
$x2: calc(100vw * 2 / 25);
$x3: calc(100vw * 3 / 25);
$x4: calc(100vw * 4 / 25);
$x5: calc(100vw * 5 / 25);
$x6: calc(100vw * 6 / 25);
$x7: calc(100vw * 7 / 25);
$x8: calc(100vw * 8 / 25);
$x9: calc(100vw * 9 / 25);
$x10: calc(100vw * 10 / 25);

// Includes
$grid: (
  cols: repeat(25, 1fr),
  gap: 0px
);
