// --------------------------------------------
// Variables
// --------------------------------------------

@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

@font-face {
  font-family: "Sneak Regular";
  src: url("/fonts/Sneak-Regular.woff2") format("woff2"),
    url("/fonts/Sneak-Regular.woff") format("woff"),
    url("/fonts/Sneak-Regular.eof") format("eof");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TeXGyreHerosBold";
  src: url("/fonts/TeXGyreHeros-Bold.woff2") format("woff2"),
    url("/fonts/TeXGyreHeros-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TeXGyreHeros";
  src: url("/fonts/TeXGyreHeros-Regular.woff2") format("woff2"),
    url("/fonts/TeXGyreHeros-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// Colors
$black: #17171c;
$grey: #f8f8f8;
$white: #ffffff;
$accent: #ea400f;

// Fonts
$font-sneak: "Sneak Regular", "Inter", sans-serif;
$font-inter: "Inter", sans-serif;
$font-texgyro: "TeXGyreHeros", "Inter", sans-serif;

// Animations
$animate: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
$animate-image: opacity 0.15s cubic-bezier(0.785, 0.135, 0.15, 0.86);
$animate-bg: background-color 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);

// Easing
$easing: cubic-bezier(0.785, 0.135, 0.15, 0.85);

// Spacing
$xl: 10rem;
$lg: 5rem;
$md: 2.5rem;
$sm: 1.25rem;
$xs: 0.75rem;

// Other
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
