footer {
  height: 80px;
  width: 100vw;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $lg 0;

  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;

  @media (min-width: ($break-medium)) {
    justify-content: space-between;
  }

  .item {
    align-self: center;
    text-align: center;

    @media (min-width: ($break-medium)) {
      justify-content: flex-start;
      float: left;
    }
  }

  .menu {
    align-self: center;
    text-align: center;

    @media (min-width: ($break-medium)) {
      justify-content: flex-end;
      float: right;
    }

    .link {
      padding: 0 10px;
      text-align: center;
    }

    a {

      &:hover,
      &:focus,
      &:active {
        opacity: 1;
        border-bottom: 1px solid transparent;
      }
      &::after {
        content: '';
      }
    }


    .router-link-exact-active {
      text-decoration: none;
      border-bottom: none;

      &::before {
        content: '\2192';
        padding-right: 10px;
      }
    }

    :not(.router-link-exact-active) {
      opacity: 0.75;
    }

  }
}