.row {
    width: 100vw;
    max-width: 82vw;
    margin: 0 auto;

    @media (max-width: rem-calc($break-small)) {
        max-width: 100vw;
    }
}

.column,
.columns {
    padding: 0 $sm/3;

    @media (max-width: rem-calc($break-small)) {
        padding: 0 $md;
    }
}

main {
    padding: $md 0;

    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

section {
    margin-bottom: $md !important;

    section {
      margin-bottom: $md/3 !important;
    }
}