// General

// Intro
.intro {
  padding: $md 0;

  @media (max-width: ($break-small)) {
    padding: $sm / 2 0;
  }
}
// Feed
.feed {
  margin-bottom: $md;

  @media (max-width: ($break-small)) {
    margin-bottom: $sm / 2;
  }

  .flex-block {
    display: flex;

    @media (max-width: ($break-small)) {
      display: block;
    }

    .project {
      padding-bottom: $md;
      height: 100vh;
      display: flex;

      @media (max-width: ($break-small)) {
        padding-bottom: $sm;
      }

      figure {
        align-items: center;

        &.portrait {
          flex: calc(960 / 1375);
          margin: 0 2vw;
          align-self: center;
          align-items: center;
        }

        &.square {
          flex: calc(1375 / 1375);
          margin: 0 2vw;
          align-self: center;
          align-items: center;
        }

        &.landscape {
          flex: calc(2200 / 1375);
          margin: 0 2vw;
          align-self: center;
          align-items: center;
        }
      }
    }
  }
}

// Resume
.resume {
  padding: $md 0;
  background-color: #efebe7;
  min-height: 60vh;

  p {
    font-size: $font-tiny;
    padding: 0;
  }
}
