.row {
    width: 100vw;
    max-width: 88vw;

    @media (max-width: ($break-medium)) {
        max-width: 94vw;
    }

    @media (max-width: ($break-small)) {
        max-width: 94vw;
    }
  }

.column,
.columns {
    padding: 0 $sm;

    @media (max-width: ($break-small)) {
        padding: 0 $sm;
    }
}

main {

  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

section {
    margin-bottom: $md;

    &:only-child,
    &:last-child {
        margin-bottom: 0;
    }

    section {
      margin-bottom: $md;

    }
}