// Transitions
.fade-slide-enter-active,
.fade-slide-leave-active {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.fade-slide-enter,
.fade-slide-leave-active {
  opacity: 0;
  transform: translateY(-10px);
}

.fade-enter-active,
.fade-leave-active {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.fade-enter,
.fade-leave-active {
  .close {
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

// Foundation code
.row {
  width: 100vw;
  max-width: 80vw;

  @media (max-width: ($break-medium)) {
    max-width: 90vw;
  }

  @media (max-width: ($break-small)) {
    max-width: 100vw;
  }
}

.column,
.columns {
  padding: 0 $sm;

  @media (max-width: ($break-small)) {
    padding: 0 1.25rem;
  }
}

div {
  position: relative;
}

main {
  padding-bottom: $lg;
}

section {
  position: relative;

  &:only-of-type,
  &:last-of-type {
    margin-bottom: 0;
  }

  section {
    margin-bottom: $md;
  }
}