.slide-enter-active {
  transition-delay: 0.25s;
  transition: all 0.25s ease-in-out;
}
.slide-leave-active {
  transition: all 0.25s cubic-bezier(1, 0.5, 1, 1);
}
.slide-enter,
.slide-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

body.dark {
  color: $color-white;
  background-color: $color-black;
  transition: background-color 0.25s ease-in-out;

  p,
  a {
    color: $color-white;
  }
}

body.light {
  background-color: $color-white;
  color: $color-black;
  transition: background-color 0.25s ease-in-out;

  p,
  a {
    color: $color-black;
  }
}