main.project {
  h1 {
    &:first-of-type {
      font-size: 70px;
      margin-bottom: $md;
    }
  }

  section {
    padding: 0 0 $md;

    &:first-of-type {
      padding-top: $md;
    }

    &:last-of-type {
      padding-bottom: 0vw;
    }
  }

  figure {
    &:only-of-type {
      margin: 0;
    }
  }

  .expanded {
    max-height: 0vh;
    display: block;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    &.open {
      display: block;
      opacity: 1;
      max-height: 999vh;
    }
  }

  .toggle {
    color: $color-black;
    border-bottom: none;
  }

  .next-project {
    h2 {
      padding: 0;
      margin: 0;
    }
  }
}
